<a href="https://colab.research.google.com/github/joshuajhchoi/ai2learn/blob/master/Python_Basics_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Lesson 1. Print Statement

### Syntax

In [ ]:
"Hello World"

'Hello World'

In [ ]:
# Syntax
print  ("Hello Python!")

Hello Python!

In [ ]:
# "#" -> This line is not a code line
print("Hello Python!")

Hello Python!

In [ ]:
# Printing numbers

In [ ]:
print(3)

3

In [ ]:
print("3")

3

In [ ]:
print (3+3)
print ('3'+'3')

6
33

In [ ]:
# Printing multiple lines

# These do not look efficient
print('James Johnson')
print('1915 Main Street')
print('Houston, Texas 77785')

James Johnson
1915 Main Street
Houston, Texas 77785

In [ ]:
print(
    '''
    James Johnson
    1915 Main Street
    'Houston, Texas 77785'
    '''
)

    James Johnson
    1915 Main Street
    'Houston, Texas 77785'

### Quiz Time

#### Quiz

* Please print out your name and address in three or four lines using the print statement

In [ ]:
# Sample answer
print('''
MyName
Street Address
City, State
''')

MyName
Street Address
City, State

## Lesson 2 Methods

### What are Methods? 

* Similar to functions - They are actually functions
* Difference -  implicitly used for an object for which it is called, like built-in functions

#### Input Method

#### Syantax
variable = input()

In [ ]:
your_name = input("Your Name?")

Your Name?john

In [ ]:
#Let's make a longer version
your_name = input("Your Name?")
print("Welcome")
your_code = input("Please enter your 4 digit ID")
print("Thank you!")

Your Name?john
Welcome
Please enter your 4 digit ID1234
Thank you!

* Note - The numbers you entered are not taken as "numbers" but taken as "strings"

#### Other Methods

* So the methods are functions you did not make or import, but they are already there for you.
* Let's try some others

#### bin

In [ ]:
a = bin(3)
a

'0b11'

#### str

In [ ]:
a = str(3)
b = str(4)
a+b

'34'

#### int

In [ ]:
c = int(a)
d = int(b)
c+d

7

### Quiz Time

## Quiz - Methods

* 1st line - Ask to type "Your Name" (And then you enter your own name)
* 2nd line - Print "Welcome, Your Name"
* 3rd line - Ask to type your age "Please enter your age" (And then enter your age)
* 4th line - Convert your age to an integer number, since your input is considered as a "str" 
* 5th line - Add 3 to your age 
* 6th line - And then print "You will be a data scientist when you become (your gae +3) years old."

* So out answer should look like the following sample

Your Name?Tom

Welcome, Tom

Please enter your age 30

You will be a data scientist when you become 33 years old.

In [ ]:
# Your Version

#### A sample Answer

In [ ]:
your_name= input("Your Name?")
print ("Welcome, " + your_name)
your_age = input("Please enter your age")
int_age = int(your_age)
future_age = int_age + 3
print("You will be a data scientist when you become " + str(future_age) + " years old.")

Your Name?John
Welcome, John
Please enter your age1234
You will be a data scientist when you become 1237 years old.

## Lesson 3 Strings and Numbers


### Syntax

"string"

3

In [ ]:
string1 = "abc"
string2 = " "
string3 = "$@&"
string1
string2
string3

'$@&'

In [ ]:
number1 = 3
number1

3

In [ ]:
# I have 2 cars
print ("I have " + "2" + " cars")

I have 2 cars

In [ ]:
a= 2
print ("I have " + str(a) + " cars")

I have 2 cars

In [ ]:
a = "I was born in"
b = " "
c = str(1999)
print(a+b+c)

I was born in 1999

### Quiz Time

## Quiz

* Mixing some strings and numbers, print the below sentence. You have to have at least 5 components and make the sentence by adding them all together.

"I bought my 1999 GT with 65k miles in 2005 and sold it for $7,500 in 2009."

#### A sample answer

In [ ]:
a = "I bought my"
b = " "
c = 1999
d = c+5
e = d+5
f = "GT with 65K miles in"
g = "and sold it for $7500 in"
h = "."
 
print (a+b+str(c)+b+f+b+str(d)+b+g+b+str(e)+h)

I bought my 1999 GT with 65K miles in 2004 and sold it for $7500 in 2009.

* This looks very inefficient, so that's why we need something called formatting.
* We will learn it in Lesson 11

## Lesson 4. String Indexing

C H E V R O L E T

0 1 2 3 4 5 6 7 8

* The first one is not 1 but 0.

### Syntax

variable [indexing position]

In [ ]:
my_car = "ford"
my_car[3]

'd'

In [ ]:
maker = 'chevrolet'
maker[2]

'e'

In [ ]:
happy = "I am happy"
happy[1]

' '

* How about numbers?

In [ ]:
a="1234"
a[1]

'2'

In [ ]:
a = "things2do"
a[6]

'2'

* What if you want the 2nd and 3rd alphabets?

In [ ]:
a = "things2do"
# And you want the 2nd and the 3rd alphabets which will be 1 & 2 (h & i) 
a[1:3]

'hi'

In [ ]:
# how about from 1 to the end
a[1:]

'hings2do'

In [ ]:
# from the beginning to 4?
a[:5]

'thing'

### Quiz Time

## Quiz

* From the sentence "Python is wonderful"

* Index the 3rd string
* Index the 5th through 8th string
* Index the first to 4th string
* Index the 12th string to the end

#### A sample answer

In [ ]:
my_sentence = "Python is wonderful"

# Index the 3rd string
my_sentence[2]
# Index the 5th through 8th string
my_sentence[4:8]
# Index the first to 4th string
my_sentence[:4]
# Index the 12th string to the end
my_sentence[11:]

'onderful'

## Lesson 5 String Methods

* Let's learn 3 methods that we can use a lot.

len()

lower()

upper()

In [ ]:
maker = "Chevrolet"
len(maker)
len("Ford")

4

In [ ]:
# Again, how about numbers? 
len("1234")

4

In [ ]:
a = "I am so happy"
len(a)

13

In [ ]:
maker.lower()

'chevrolet'

In [ ]:
maker.upper()

'CHEVROLET'

### Quiz Time

## Quiz

* Please make a statement with the following information

maker = "Mercedes" 

year is str(2020)

month is "June"

1) Print the length of your statement

1) Use lower method to print out a lowercase version of your statement

2) and an uppercase version

In [ ]:
# A sample answer
maker = "Mercedes"
year = str(2020)
month = "June"

len(maker)
maker.lower()
maker.upper()
print (month + " " + year)

statement1 = "I bought my "+ maker + " in " + month + " ," + year

len(statement1)
statement1.lower()
statement1.upper()

June 2020

'I BOUGHT MY MERCEDES IN JUNE ,2020'

## Lesson 6 Arithmetic Operators

In [ ]:
first_add = 12345 + 56789
first_sub = 543-321
first_multi = 12 * 34
first_div = 520/24

In [ ]:
print(first_add)
print(first_sub)
print(first_multi)
print(first_div)

69134
222
408
21.666666666666668

In [ ]:
comb = (first_add * first_sub)/first_multi
comb

37617.029411764706

In [ ]:
15 % 2

1

* 15 = 7*2 + 1

In [ ]:
a= 25
b = 7

a%b

4

* 25 = 7*3 + 4

In [ ]:
a = 19 
b = 5
c = 7

result = (a+b)/c + (a-c)/b
result

5.828571428571428

In [ ]:
print (a%b + c)

11

### Quiz Time

## Quiz

a = 19

b = 5      

c = 7

Get the remainder of a+b for c

d = (a+b) % c

In [ ]:
# Your Version

In [ ]:
# answer 
d = (a+b) % c
d

3

## Lesson 7 Number Methods

* Let's take a look at integers and floats and their related methods.

In [ ]:
# integers = 1, 3, 5, 100
# floats = 1.0, 1.05, 123,45555

# int(number) # converting the number as an integer      int(1.0) = 1
# float(number) # converting the number as a float       float (10) = 10.0
# str(number) # converting the number as a string        str(5) = "5"

print(int(1.0))
print(float(1.0)) 
print(str(1.0))

1
1.0
1.0

In [ ]:
int_sample = 1
int_test = 2
int_minus = -3
float_sample = 1.0
float_test = 2.
float_minus = -3.5

int_sample
float(int_test)
float(int_minus)
float_sample
float_test
float_minus

-3.5

* float_e = 3.5e3 means 3.5 X 1,000

In [ ]:
test1 = int(3.5)
test2 = float(3)
test3 = test1 + test2
test4 = str(3) +str(3.5)

print (test1)
print (test2)
print (test3)
print (test4)

3
3.0
6.0
33.5

### Quiz Time

## QUIZ

* Give the value of integer 5.5 to the variable gas_g. 

(Gallons of gasoline to buy)
* Create a variable price_per_g and give it a value of 3. 

($3 per gallon)

* Create a variable sum_price and calculate and assign the total price of gas to be purchased. 

(Total_purchased amount)

* Print the integer value of the sum_price variable using the print statement.

* Print the same value as a float value.

In [ ]:
gas_g = 5.5
price_per_g = 3
sum_price = gas_g * price_per_g


print (int(sum_price))

print (float(sum_price))

16
16.5

In [ ]:
# What if you want to buy 10 apples for $1 each

apple_count=10
price_apple = 1
sum_price = apple_count * price_apple
print (sum_price)

10

* We will learn more with math module later

## Lesson 08 - Boolean Operators

a> b a is greater than b

a <b a is less than b

a == b a and b are the same
      
a != b a and b are not equal

a <= b a is less than or equal to b
      
a >= b a is greater than or equal to b

In [ ]:
testnumber1 = 1
testnumber2 = 2
testnumber3 = 3
 
a = testnumber3 > 2
b = testnumber1< 2 
c = testnumber1 == 1 
d = testnumber1 != 2
e = testnumber2 <= 2 
f = testnumber2 >= 2

print (a)
print (b)
print (c)
print (d)
print (e)
print (f)

True
True
True
True
True
True

In [ ]:
# We are going to learn "if statement later" , but let's use it here
x = 5 
if x > 5:
    print ( "It is over the limit." )
else:
    print ( "It is under the limit." )

It is under the limit.

In [ ]:
x = 5 
if x == 5:
   print ("It is over the limit.")
else:
   print ("It is under the limit.")

It is over the limit.

In [ ]:
# We are going to learn "if statement later" , but let's use it here
x = 5 
if x > 5:
   print ("It is over the limit.")
else:
   print ("It is under the limit.")

It is under the limit.

### Quiz Time

## Quiz

Let's practice the boolean operators

testnumber1 is 1

testnumber2 is 2

testnumber3 is 3

Create 5 false statements with the above 3

In [ ]:
# Your Version

In [ ]:
# A sample answer

testnumber1 = 1
testnumber2 = 2
testnumber3 = 3

a = testnumber1 > 10
b = (testnumber1 + testnumber2) > testnumber3 
c = testnumber1 == testnumber3
d = testnumber2 % testnumber1 == 3
e = testnumber3 * 5 >100

print(a)
print(b)
print(c)
print(d)
print(e)

False
False
False
False
False

## Lesson 09 - Variables

variable = "string" # a variable assigned to a string

variable = 5 # a variable assigned to a number

variable = input() # a variable assigned to a function (or method)

Y = X + 2

his_name =  "Tom"

the_number = 42

b =  len(his_number)

In [ ]:
s1 = "It is a new car!"   
s2 = "It is a used car."
c1 = "Too expensive!!"
c2 = "It is a good deal!"
c3 = "It can give you headaches!"

print (s1) 
print (c1)

print (s2)
print (c2)

It is a new car!
Too expensive!!
It is a used car.
It is a good deal!

In [ ]:
situation1 = "It is a new car!"   
situation2 = "It is a used car."
comment1 = "Too expensive!!"
comment2 = "It is a good deal!"
comment3 = "It can give you headaches!"
 
 
answer1 = situation1 + " " + comment1
answer2 = situation1 + " " + comment2
answer3 = situation2 + " " + comment3
answer4 = situation2 + " " + comment2

print (answer1)
print (answer2)
print (answer3) 
print (answer4)

It is a new car! Too expensive!!
It is a new car! It is a good deal!
It is a used car. It can give you headaches!
It is a used car. It is a good deal!

In [ ]:
my_dog_name = "Coco"
walk_per_week = 4
point_visit = 5
points_to_visit = 130
weeks_to_take = float(points_to_visit) / (walk_per_week * point_visit )
statement = my_dog_name + " needs " + str(weeks_to_take) + " weeks to visit those " + str(points_to_visit) + " places."

print (statement)

Coco needs 6.5 weeks to visit those 130 places.

### Quiz Time

## Quiz

There are 200 pages to study

Pages that you can cover is 15 pages per day

How many days it will take to finish studying?
 
Please use combinations of variables to make a
sentence that describes the outcome of the above

In [ ]:
# Your answer here

In [ ]:


pages_to_study = 200
pages_per_day = 15

days_to_take = pages_to_study/pages_per_day


days = int(days_to_take) +1


statement = "It takes " + str((days)) + " days to finish studying my book" 
print (statement)

It takes 14 days to finish studying my book

## Lesson 10 - Updating Variables

In [ ]:
 x = 1
    
x = x + 1 
        
print (x)  # x is updated to 2

2

In [ ]:
gas_tank = 10
 
print ( "remaining gasoline" )
 
gas_used = 5
 
gas_tank = gas_tank - gas_used
 
print (gas_tank)

remaining gasoline
5

In [ ]:
my_var = 1
print (my_var)

my_var = "Hello"
print (my_var)

1
Hello

In [ ]:
# We usually use a loop, but for the purpose of this lesson, we will go through steps

In [ ]:
# Adding 1 to 10
sum = 0
x= 1

sum = sum+x
x= x+1

sum = sum + x
x= x + 1

sum = sum + x
x= x + 1

sum = sum+x
x= x + 1
 
sum = sum+x
x= x+1
 
sum = sum+x
x= x+1
 
sum = sum + x
x= x + 1
 
sum = sum+x
x= x+1
 
sum = sum+x
x= x+1
 
sum = sum + x
x= x + 1
 
 
print (sum)

55

### Quiz Time

## Quiz

* Assign "a" as a numeric-variable name for number 7 and print it
* Try updating it with a string again and printing it
* Then give it a value of True, update it, and print it.

In [ ]:
# Assign "a" as a numeric-variable name for number 7 and print
# Try updating it with a string again and printing it
# Then give it a value of True, update it, and print it.

# Your Answer

In [ ]:
# Assign "a" as a numeric-variable name for number 7 and print
# Try updating it with a string again and printing it
# Then give it a value of True, update it, and print it.

a = 7
print(a)

a = "sample"
print(a)

a = True
print(a)

7
sample
True

## Lesson 11      - String Format


* Let's learn how to insert numbers or strings inside sentences

In [ ]:
# what we did
sentence = "I am " + "from " + "Texas." 
print(sentence)

# But how about this way
print  ("I am {0}, and I love {1} ".format (" Peter "," BMW"))

name = "Tom"
age  = 23 

print ("My name is {}.".format(name))
print ("I am {} years old." .format(age))

# We used to use the following format

print ("My name is %s." % (name))
print ("I am %d years old." % (age))

print('I want {0} or {1}'.format('BMW', 'Mercedes'))
print('I want {1} or {0}'.format('BMW', 'Mercedes'))

activity = 'basketball'
n = 2

result = f'I like {activity} a lot and I play about {n} hours a day.'
print(result)

I am from Texas.
I am  Peter , and I love  BMW
My name is Tom.
I am 23 years old.
My name is Tom.
I am 23 years old.
I want BMW or Mercedes
I want Mercedes or BMW
I like basketball a lot and I play about 2 hours a day.

### Quiz Time

## Quiz

* Print the following sentence in 3 different ways
* "I want ham and cheese."

In [ ]:
 # Print the following sentence in 3 different ways
 # "I want ham and cheese."


# Your Version

In [ ]:
 # Print the following sentence in 3 different ways
 # "I want ham and cheese."
 

# A sample answer
print  ("I want {0} and {1} ".format ("ham ","cheese."))

a = "ham"
b = "cheese"
print ("I want %s and %s" % (a,b))


c = f'I want {a} and {b}.'
print(c)

I want ham  and cheese.
I want ham and cheese
I want ham and cheese.

## Lesson 12    -    If & Else


        if condition:
            body
        else:
            body

In [ ]:
my_speed = input("How fast are you going?")
int_speed = int(my_speed)

if int_speed <= 50:
   print ("Go faster")

else:
  print ("Slow down.")

How fast are you going?50
Go faster

In [ ]:
print ("If the traffic light is red, enter 1. if the traffic light is green or yellow enter 2.")

t_code = int(input())

if t_code == 1:
  print ("Stop the car.")
else :
    print ("Go forward.")

If the traffic light is red, enter 1. if the traffic light is green or yellow enter 2.
2
Go forward.

In [ ]:
print ("How much is the T-shirt?")
t_price = input()
my_price = int(t_price)

if my_price  <= 3:
  print ("I can buy 2.")
else :
    print ("Next time.")

How much is the T-shirt?
2
I can buy 2.

### Quiztime

## Quiz

* Ask to input the answer to "What's the current temperature in C?"
* And input the temperature in Celsius
* Change the temperatre to an integer
* if temperature > 30
  print "A bottle of cold water is 2 dollars."
* else 
    print "A bottle of cold water is 1 dollar."

In [ ]:
# Your Version

In [ ]:
print ("What's the current temperature in C?")
temp = input()

temperature = int(temp)

if temperature > 30:
  print ("A bottle of cold water is 600 won.")
  
else :
    print ("A bottle of cold water is 500 won.")

What's the current temperature in C?
20
A bottle of cold water is 500 won.

## Lesson 13 If, Elif & Else Statements

      if condition:
          body
      elif condition:
          body
      else
          body

In [ ]:
print ("""
if the traffic light is green, enter 1, If the traffic light is red, enter 2, 
and if the traffic light is yellow, enter something else)
""")

t_code = int(input())

if t_code == 1:
  print ("Go forward.")

elif t_code == 2:
  print ("Stop the car.")

else :
    print ("Please slow down")

if the traffic light is green, enter 1, If the traffic light is red, enter 2,
and if the traffic light is yellow, enter something else)

2
Stop the car.

In [ ]:
my_speed = input("How fast are you going?")
int_speed = int(my_speed)

if int_speed <= 50:
   print ("You can go faster")

elif int_speed > 60:
  print ("Slow down.")

else:
  print ("Okay.")

How fast are you going?40
You can go faster

# Quiz

* Please make a condtional statement with if, elif and else for "If the traffic light is red, enter 1, if the traffic light is yellow, enter 2, and if the traffic light is green, enter 3"

In [ ]:
# Your version

In [ ]:
print ("""If the traffic light is red, enter 1, if the traffic light is yellow, 
enter 2, and if the traffic light is green, enter 3.""")
t_code = int(input())
 
if t_code == 1:
  print ("Stop the car.")
elif t_code == 2:
  print ("Slow down.")
else :
    print ("Go forward.")

If the traffic light is red, enter 1, if the traffic light is yellow,
enter 2, and if the traffic light is green, enter 3.
3
Go forward.

In [ ]:
print ("How much is the T-shirt?")
t_price = input()
my_price = int(t_price)
 
if my_price  <= 3:
  print ("I can buy 2.")
elif my_price > 5:
    print ("Next time.")
else:
    print ("Let me have one.")

How much is the T-shirt?
3
I can buy 2.

# Lesson 14 List

   my_list = [1, 2, 3, "a", "b", "c"]

In [ ]:
my_list1 = [1, 2, 3]

In [ ]:
my_list2 = ["KIA", "Chevrolet", "Ford"]

In [ ]:
print (my_list1)
print (my_list2)

[1, 2, 3]
['KIA', 'Chevrolet', 'Ford']

In [ ]:
my_list3 = [1, 2, 3, ["KIA", "Chevrolet", "Ford"]]

print (len(my_list3))

print (my_list3[0])
print (my_list3[3])

4
1
['KIA', 'Chevrolet', 'Ford']

# Quiz

* Make a list with the items, 1,2,3,4,and 5
* Try to indext the first and the 2nd item (*Tips: you can use slicing with [0:2] or {:2]
* Also try to print from the 2nd one to the end

In [ ]:
# Your Version

In [ ]:
my_list = [1,2,3,4,5]
print (my_list[0:2])
print (my_list[1:])

[1, 2]
[2, 3, 4, 5]

In [ ]:
my_list = [1,2,3,4,5]
my_list[1] = 6
print (my_list)

[1, 6, 3, 4, 5]

In [ ]:
my_list1 = [1,2,3,4,5]
my_list2 = [6,7,8,9]
my_list = my_list1 + my_list2
print (my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list1 = [1,2,3,4,5]
my_list = my_list1 *2
print (my_list)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Lesson 15 List Methods

append(), count(), index(), insert(), pop()

  listname.append(item)  

  listname.count(item)

  listname.index(item)

  listname.insert(location, item)
  
  listname.pop(location)

In [ ]:
my_list4 = []

my_list4.append("Ford")
print (my_list4)

print (my_list4.count("Ford"))

print (my_list4.index("Ford"))

my_list4.append("BMW")
print (my_list4)

print (my_list4.pop(0))

my_list4.insert(1,"Chevrolet")
print (my_list4)

['Ford']
1
0
['Ford', 'BMW']
Ford
['BMW', 'Chevrolet']

# Quiz

* Create an empty list and add a lion to the element.
* Create another empty list and add tiger to the element.
* Here, the two lists are combined and defined as the name of the original lion only.
* Try inserting a snake in the middle of the combined list.

In [ ]:
# Your Version

In [ ]:
my_list5 = []

my_list5.append("lion")
print (my_list5)

my_list6 = []
my_list6.append("tiger")
print (my_list6)

my_list5 = my_list5 + my_list6
print (my_list5)

my_list5.insert(1,"snake")
print (my_list5)

['lion']
['tiger']
['lion', 'tiger']
['lion', 'snake', 'tiger']

In [ ]:
list1 = [1,2,3,4]
list1.append("lion")
print (list1)

[1, 2, 3, 4, 'lion']

In [ ]:
list2 = [1,2,3,4,1,2,3,4]
print (list2.count(2))

2

In [ ]:
list3 = [4,5,6,7,8,9]
print (list3.index(7))

3

In [ ]:
list4 = [9,8,7,6,5,4]
list4.insert(3, 100)
print (list4)

[9, 8, 7, 100, 6, 5, 4]

In [ ]:
list5 = [3,4,5,6]
list5.pop(1)
print (list5)

[3, 5, 6]

# Lesson 16 Dictionary

mydict = {key: value, key: value, key; value}

  bizcard['name'] = 'Joshua'

  bizcard['phone'] = '55512345678'
  
  bizcard['company'] = 'Fast Campus'

In [ ]:
bizcard = {}
bizcard["name"] = "Joshua"
bizcard["phone"] = "55512345678"
bizcard["company"] = "Fast Campus"
 
print (bizcard)
print (bizcard["phone"])

{'name': 'Joshua', 'phone': '55512345678', 'company': 'Fast Campus'}
55512345678

# Quiz

* Make an empty dictionary 'bizcard'
* Add name to that dictionary ['Name'] = 'Ironman'
* Add phone number to that dictionary['Phone Number'] = '012345678'
* Add company name to that dictionary
* Get the phone number out of that dictionary

In [ ]:
# Your Version

In [ ]:
# My Version
bizcard = {}
bizcard['Name'] = 'Ironman'
bizcard['Phone Number'] = '012345678'
bizcard['Company Name'] = 'The Avengers'
 
print (bizcard)
print (bizcard['Phone Number'])

{'Name': 'Ironman', 'Phone Number': '012345678', 'Company Name': 'The Avengers'}
012345678

In [ ]:
bizcard = {}
bizcard["name"] = "Joshua"
bizcard["phone"] = "55512345678"
bizcard["company"] = "ai2learn"
 
print (bizcard)
print (bizcard["phone"])
print (bizcard["name"])
print (bizcard["company"])

{'name': 'Joshua', 'phone': '55512345678', 'company': 'ai2learn'}
55512345678
Joshua
ai2learn

# Lesson 17 Dictionary Methods

  dictionaryname.items() 

  dictionaryname.keys() 
  
  dictionaryname.values()

model : "Camaro"

maker : "Chevrolet"

year: "2020"


Print the item.

Print the key.

Print the value.

In [ ]:
mydict = { 'model' : 'Camaro', 'maker': 'Chevrolet', 'year': 2020}

print (mydict.items())
print (mydict.keys()) 
print (mydict.values())

dict_items([('model', 'Camaro'), ('maker', 'Chevrolet'), ('year', 2020)])
dict_keys(['model', 'maker', 'year'])
dict_values(['Camaro', 'Chevrolet', 2020])

  clear()     
  copy()       
  get()

In [ ]:
mydict = { 'model' : 'Camaro', 'maker': 'Chevrolet', 'year': 2020}
newdict = mydict.copy()  
print (newdict)
print (mydict.get('model'))
print (mydict.clear())

{'model': 'Camaro', 'maker': 'Chevrolet', 'year': 2020}
Camaro
None

In [ ]:
dict1 = {'a':1, 'b':2, 'c':3}
print (dict1.items())

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
dict1 = {'a':1, 'b':2, 'c':3}
print (dict1.keys())

dict_keys(['a', 'b', 'c'])

In [ ]:
dict1 = {'a':1, 'b':2, 'c':3}
print (dict1.values())

dict_values([1, 2, 3])

In [ ]:
dict1 = {'a':1, 'b':2, 'c':3}
print (dict1.clear())
print (dict1)

None
{}

In [ ]:
dict1 = {'a':1, 'b':2, 'c':3}
dict2 = dict1.copy()
print (dict2)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
dict1 = {'a':1, 'b':2, 'c':3}
print (dict1.get('b'))

2

#### Quiz Time

# Quiz

* Make a dictionary with 3 keys and values each

* And copy that to a new dictionary

* And then get keys, values and items

In [ ]:
# Your Version

In [ ]:
mydictionary = { 'car' : 'Tesla', 'model': '2020', 'driver': 'John'}

dict1 = mydictionary.copy()
print (dict1.keys())
print (dict1.values())
print (dict1.items())

dict_keys(['car', 'model', 'driver'])
dict_values(['Tesla', '2020', 'John'])
dict_items([('car', 'Tesla'), ('model', '2020'), ('driver', 'John')])

# Lesson 18 Tuple

A tuple is a collection of unchangeable data and it only has few methods because of the property that it cannot be changed.

mytupple = (item1, item2, item 3)

tuple5 = (5,)

In [ ]:
  a = ('Chevrolet', 'KIA', 'Mercedes')  
  b = ('BMW','Ford')
  c = a + b          #  ('Chevrolet’, 'KIA’, 'Mercedes’, 'BMW’, 'Ford’)
  d = b * 2          #  d = ('BMW’, 'Ford’, ’BMW’, 'Ford’)

In [ ]:
a = (1,2,3,4,5)
b = (6,7,8,9)

c = a+b
print (c)

d = a*3
print (d)

b[0] = 10    # An error will occur and there is no such method

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

TypeError: ignored

In [ ]:
a = ('Chevrolet', 'KIA', 'Mercedes')  
print (a[0]) 
print (a[1:2]) 
print (a[:2]) 
print (a.count('KIA'))
print (a.index('Mercedes'))

Chevrolet
('KIA',)
('Chevrolet', 'KIA')
1
2

# Quiz

a = ('Chevrolet', 'KIA', 'Mercedes')

b = ('Tesla', 'Ford', 'Chrysler’)

1. Combine them

2. Use count()

3. Indexing whatever you want, and displays it

4. And slicing whatever you want, and displays it

In [ ]:
# Your Version

In [ ]:
a = ('Chevrolet', 'KIA', 'Mercedes')  
b = ('Tesla', 'Ford', 'Chrysler') 

a = a+b

print (a.count('Tesla'))
print (a.index('Mercedes'))
print (a[:3])

1
2
('Chevrolet', 'KIA', 'Mercedes')

# Lesson 19 Set

myset = { item1, item2, item 3}

In [ ]:
mylist = ['John', 'Tom', 'John', 'Josh', 'Peter']
myset = set(mylist)

c = a.intersection(b)       # c = a & b  
  
d = a.union(b)              # d = a | b  

e = a.difference(b)

In [ ]:
a = {1,2,3,4,5} 
b = {5,6,7,8,9}
c = a.intersection(b)   
d = a.union(b)
e = a.difference(b) 

print (c)
print (d)
print (e)

{5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4}

In [ ]:
a = {1,2,3,4,5} 

a.add(6)
print (a)

a.update({7,8})
print (a)

a.remove(5)
print (a)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 6, 7, 8}

# Quiz

a = {'Ford', 'KIA'}

1. Add 'Hyundai'

2. Update’ with 'Maserati' and 'Jaguar'

3. Remove 'Ford'

In [ ]:
# Your Version

In [ ]:
a = {'Ford', 'KIA'} 

a.add('Hyundai')
print (a)

{'Hyundai', 'KIA', 'Ford'}

In [ ]:
a.update({'Maserati', 'Jaguar'})
print (a)

{'Hyundai', 'Jaguar', 'Maserati', 'Ford', 'KIA'}

In [ ]:
a.remove('Ford')
print (a)

{'Hyundai', 'Jaguar', 'Maserati', 'KIA'}

# Lesson 20 Making Functions

    def function_name():
           function's function
           
    function_name() # caling the function

In [ ]:
def brake(): 
    print ("Hit the brake, then the brake will stop the car.")

brake()

Hit the brake, then the brake will stop the car.

In [ ]:
def wiper():
    print ("When it is rainy, it is useful.")

wiper()

When it is rainy, it is useful.

In [ ]:
def mycal():
    x = 3
    print (x**3)

mycal()

27

# Quiz

1. make a function that add a and b
 
 2. a is 10 
 
 3. b is 5

4. Make sure that you “call” the function at the end

In [ ]:
# Your Version

In [ ]:
a= 10
b= 5

def mycal():
     print (a+b)

mycal()

15

# Lesson 21 Parameters and Arguments

    def function name (parameter 1, parameter 2):        # function declaration
         Main Function

     Function name (argument 1, argument 2)           # calling the function

In [ ]:
def onair(date1, time1):
   print ("The show is on at {1} on {0}".format(date1, time1))

onair("Friday", "7pm")

The show is on at 7pm on Friday

# Quiz

Declare the function that prints out three sentences

Use 2 parameters (wish, country) 

Use 3 arguments per each parameter

In [ ]:
# Your Version

In [ ]:
def my_function3(wish, country):
       print (wish + country)

my_function3("I would like to go to", " Korea.")
my_function3("I would like to visit", " Spain.")
my_function3("I would like to live in", " Australia.")

I would like to go to Korea.
I would like to visit Spain.
I would like to live in Australia.

In [ ]:
def my_function4(a,b):
     print (a**2, b**3)

my_function4(1,2)
my_function4(3,4)
my_function4(5,6)

1 8
9 64
25 216

# Lesson22 Conditional Statements in Function




    def function_name(parameters):
      if condition:
          return
      elif condition:
          return
      else:
          return

    function_name(arguments)

In [ ]:
def accelerator(speed):
    if speed > 80:
        print ("Slow down!")
    else:
        print ("Go!")

accelerator(85)

Slow down!

In [ ]:
x = 5
y = 10

def cal():
    if x == y:
        print ("They are the same.")
    elif x > y:
        print ("x is larger than y")
    else:
        print ("y is larger than x.")

cal()

y is larger than x.

# Quiz

Please make the following function with conditional statements

If the temperature is over 30 degree celsius, a bottle of cold water is 2 dollars

If it is under 25, the price is 1 dollar

If they are neither over 30 nor under 25, the price is $1.50

In [ ]:
# Your Version

In [ ]:
def seller(temp,price):
    if temp > 30:
        print ("The price for a bottle of cold water is {} dollars.".format(price))
    elif temp <25:
       print ("The price for a bottle of cold water is {} dollars.".format(price))
    else:
        print ("The price for a bottle of cold water is {} dollars.".format(price))

seller(32,2)
seller(26,1.5)
seller(22,1)

The price for a bottle of cold water is 2 dollars.
The price for a bottle of cold water is 1.5 dollars.
The price for a bottle of cold water is 1 dollars.

# Lesson 23 Importing Modules

In [ ]:
from random import randint

In [ ]:
from datetime import datetime

In [ ]:
toss = randint(0, 1)

In [ ]:
current_time = datetime.now()       
c_year = current_time.year          
c_month = current_time.month        
c_day = current_time.day

In [ ]:
from random import randint

dice_toss = randint(1, 6)
print (dice_toss)

4

In [ ]:
import math               

print (math.ceil(0.5))           
print (math.floor(0.5))  
print (max([1, 2, 3]))
print (max('Chevrolet'))
print (min([1, 2, 3]))
print (min('Chevrolet'))

1
0
3
v
1
C

In [ ]:
import math
mynumber = math.sqrt(10)
print (mynumber)

3.1622776601683795

In [ ]:
import math
mynumber2 = math.factorial(4)
print (mynumber2)

24

# Quiz

Please use randint to make the following codes

Famous basketball players Harden and Curry play one-on-one basketball

In this game, it is assumed that they can score between 11 and 30 points

Let's see who wins?

In [ ]:
# Your Version

In [ ]:
from random import randint

coin_toss = randint(0, 1)
print (coin_toss)

harden_score = randint(11, 30)
curry_score =  randint(11, 30)

print (harden_score)

print (curry_score)

0
30
27

We may want to print the date as year-month-day in an  Asian style format, and we may want to print the date as month-day-year in an American style format.

In [ ]:
from datetime import datetime
current_time = datetime.now()

current_year = current_time.year
current_month = current_time.month
current_day = current_time.day

print ("{0:0=4d}-{1:0=02d}-{2:0=02d}".format(current_year, current_month, current_day))

2021-02-14

# Lesson 24 For Loop

    for variable in target:
              What to do for variable in target:

    a=[1,2,3,4,5]

    for var in a:
        print (var)

        b = [＂KIA＂, ＂BMW＂}

        for s in b:
            print (s)

In [ ]:
for i in range(5):
    print ('car')

car
car
car
car
car

In [ ]:
total = 0
n = 10      
for i in range(1, n + 1): 
    total += i     
print (total)

55

In [ ]:
for character in 'KOREA':
    print (character)

K
O
R
E
A

In [ ]:
for i in range(2, 5):
    print (i**2, i**3)

4 8
9 27
16 64

In [ ]:
for n in range(10, 0, -3):
    print (n)

10
7
4
1

In [ ]:
for n in range(10, 20, 3):
    print (n)

10
13
16
19

# Quiz

(1)

mycars = [ 'KIA','Jaguar','BMW']

With the cars in the list, print "I love ‘this brand’" within the range of the list.

Use the for loop to print those names one at a time to the sentence

Make a new list with some numbers

Print the list item one by one and then print “That's it” when the list is over.

2. Print the list one by one and then print That's it when the list is over

3. Print the numbers from 20 to 0, subtracting by 2

In [ ]:
# Your Version

In [ ]:
makers = ['KIA', 'Jaguar', 'BMW']

for i in range(len(makers)):
    print("I love {}".format(makers[i]))

I love KIA
I love Jaguar
I love BMW

In [ ]:
mylist = [0, 1, 5]

for i in mylist:
    print(i)

else:
    print("That's it")

0
1
5
That's it

In [ ]:
for n in range(20, 0, -2):
    print(n)

20
18
16
14
12
10
8
6
4
2

# Lesson 25 While/While-else Loop

      while condition:
          body

In [ ]:
i = 15

while i > 0:
    print (i ** 2)
    i -= 2

225
169
121
81
49
25
9
1

#### while - else

    i = 1

    while i <= 3:
        print (i)
        i += 1
    else:
        print ("That's it")

In [ ]:
i = 1

while i <= 3:
    print (i)
    i += 1
else:
    print ("That's it.")

1
2
3
That's it.

# Quiz

(1)
Try printing the squared values from 5

by subtracting 1  per iteration

from 5 until the integer value stays larger than 0.

 
(2)
Set  i = 1

Until i reaches 10, keep adding 1 per iteration

If it reaches 10 Print "That it as i became "the final number i"

which should be 11

In [ ]:
# Your Version

In [ ]:
i = 5
while i>0:
   print (i**2)
   i -= 1

25
16
9
4
1

In [ ]:
i = 1
while i <= 10:
    print(i)
    i += 1
else:
    print("That's it as i became", i)
    print("That's it as i became {}".format(i))

1
2
3
4
5
6
7
8
9
10
That's it as i became 11
That's it as i became 11

# Lesson 26 Break/Continue

       i = 1

      while i <= 10:
          print (i)
          if i == 4:
              break
          i += 1

       i = 1

      while i <= 5:
          i += 1
          if i == 4:
              continue

      print (i)

In [ ]:
i = 0

while i <= 5:
    print (i)
    if i == 3:
        break
    i += 1

0
1
2
3

In [ ]:
i = 0
while i <= 4:
    i += 1
    if i == 3:
        continue
    else:
        print (i)

1
2
4
5

In [ ]:
for num in range(1, 11):
    if num % 2 == 0:
        print (num)
    continue

2
4
6
8
10

In [ ]:
for num in range(1, 11):
    if num % 2 == 1:
        print (num)
    continue

1
3
5
7
9

# Quiz

(1) Please print out numbers from 1 to 10, but breaks when 7 comes during the loop.

(2) Please print out numbers from 1 to 10, but skips 7 during the loop.

(3) Please start with my_sum = 0, add numbers between 1-10 several times to my_sum, and when the sum adds up to 30, break and print out that the number has gone over or equal to 30

In [ ]:
# Your Version

In [6]:
i = 1
while i <= 10:
    print(i)
    if i == 7:
             break
    i += 1

1
2
3
4
5
6
7

In [ ]:
i = 1
while i <= 9:
    i += 1
    if i == 7:
             continue
    print (i)

2
3
4
5
6
8
9
10

In [ ]:
my_sum = 0
i = input("Enter any number")
n =int(i)

while n != 0:
    my_sum = my_sum + n
    if my_sum >= 30:
        print("My sum is {}".format(my_sum))
        break
    n = int(input())

Enter any number5
5
3
3
2
5
3
4
My sum is 30

# Lesson 27 File I/O

In [ ]:
from google.colab import drive

In [ ]:
from google.colab import files
uploaded = files.upload()

    test_list = ["KIA", "Porsche", "Maserati"]
    f = open("test.txt", "w")
    f.close()

In [ ]:
test_list = [ 1, 2, 3, 4, 5, 6]
f = open("test_list.txt", "w")

for item in test_list:
    f.write(str(item) + "\n")
    print (str(item))

f.close()

1
2
3
4
5
6

In [ ]:
test_list = [1,2,3]
f = open("test_list.txt","w")

for item in test_list:
    f.write(str(item) + "\n")

fr =  open("test_list.txt","r")
print (fr.read())

frp = open("test_list.txt","a")
frp.write('4')

frp.close()

1
2
3

# Quiz

Make an empty text file in your computer with the name text 1

And add that file to your google drive

Mount google drive

And authenticate it

And open it and write 1,2,and 3

And read it

In [ ]:
# Your Version

In [ ]:
from google.colab import drive

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
frp = open("text1.txt","a")
frp.write('1,2,3')

5

In [ ]:
frp.close()

# Lesson 28 Making a Class

    class Car():
        pass

    class Car(object): 
        def __init__(self):

    class Car(): 
        def brake():
            print ("Hit the brake!")

        def pedal(self):
            print ("Stop the car!")

In [ ]:
class Manager(object):
    def __init__(self, model, color, year, mileage): 
       self.model = model
       self.color = color
       self.year = year
       self.mileage = mileage

mycar = Manager("Model: Camaro", "Color: Red", "Year: 2020", "Mileage: 12,345")

print (mycar.model)
print (mycar.color)
print (mycar.year)
print (mycar.mileage)

Model: Camaro
Color: Red
Year: 2020
Mileage: 12,345

# Quiz

Make a Car class with “my_car” function and “your_car” function 
and call the class and then call the function connected to the class

In [ ]:
# Your Version

In [ ]:
class Car(): 
       def mycar(self, model, color):
           print (model, color)

       def yourcar(self, model, color):
           print (model,color)

f=Car()
f.mycar('Corvett', 'Black') 
f.yourcar('Camaro', 'Red')

Corvett Black
Camaro Red

# Lesson 29 Instance

In [ ]:
  class Car(object):
      def __init__(self, name):
          self.name = name
 
  mycar = Car("Bumblebee")
  print (mycar.name)

Bumblebee

# Quiz

Create a class “Car”.

Assign a name of the car along with the self model, color, year and name within the class

Make a simple function within the class with a print statement

Call the Car and function with your arguments

In [ ]:
# Your Version

In [7]:
class Car(object):
    def __init__(self,model,color,year,name):
        self.model = model
        self.color = color
        self.year = year
        self.name = name
 
    def about_mine(self):
        print ("My car is {0} and the color is {1}. In the {2} year type, I call the name {3}.".format(self.model, self.color, self.year, self.name ))
 
 
mycar = Car('Palisade','red', '2020','coco')
mycar.about_mine()

My car is Palisade and the color is red. In the 2020 year type, I call the name coco.

# Lesson 30 Creating and Accessing Methods

In [ ]:
class Car(object):
    def __init__(self, maker, color, style):
        self.maker = maker
        self.color = color
        self.style = style

    def brake(self):
        print ("This is a {} with a good brake.".format(self.maker))

    def mirror(self):
        print ("This is {} style with no blind spot.".format(self.style))

    def wiper(self):
        print ("It is {} and comes with an excellent wiper.".format(self.color))


mine = Car("Chevy", "dark blue", "cool")

mine.brake()
mine.mirror()
mine.wiper()

This is a Chevy with a good brake.
This is cool style with no blind spot.
It is dark blue and comes with an excellent wiper.

In [ ]:
class Car(object):
    is_fast = True 

    def __init__(self, maker, year):
              self.maker = maker
              self.year = year

corvette = Car("Chevrolet", 2019)
mustang = Car("Ford", 2020)
xf = Car("Jaguar",2019)

print (corvette.maker, corvette.year, corvette.is_fast)
print (mustang.maker, mustang.year, mustang.is_fast)
print (xf.maker, xf.year, xf.is_fast)

Chevrolet 2019 True
Ford 2020 True
Jaguar 2019 True

# Quiz

Create Car(object). Then we add three method lines.

     def __init__(self):,
     def description(self):,
     def is_ok(self):

Now, let's create a truck_mine outside the Car class.

It is created outside the class, but allows you to use properties in the Car class

If you do this with truck_mine = Car(), you can know "Oh, you will inherit something from Car".

Create simple methods to play with, but since we do not know much,
 just use the print statement or simple calculations

In [ ]:
# Your Version

In [ ]:
class Car(object):
      def __init__(self, maker, color, style, oldie):
            self.maker = maker
            self.color = color
            self.style = style
            self.oldie = oldie

      def description(self):
             print ("This is a {1} {0} with {2} style.".format(self.maker,self.color,self.style))

      def is_ok(self):
            if not self.oldie:
                  print ("It is definitely cool.")
            else:
                  print ("Your old man would love it.")

truck_mine = Car("Chevy", "dark blue", "cool", False)

truck_mine.description()
truck_mine.is_ok()

This is a dark blue Chevy with cool style.
It is definitely cool.

# Lesson 31 Inheritance

In [ ]:
class Car(object):
    def __init__(self, category, maker, year, color):
        self.category = category
        self.maker = maker
        self.year = year
        self.color = color

    def display_mycar(self):
        print ('MyCar: {}'.format(self.category))
        print ('Maker: {}'.format(self.maker))
        print ('Year: {}'.format(self.year))
        print ('Color: {}'.format(self.color))

class Truck(Car):
    pass

Truck_mine = Truck('Truck','Chevy', '2019', 'Red')
Truck_mine.display_mycar()

MyCar: Truck
Maker: Chevy
Year: 2019
Color: Red

In [ ]:
class Car(object):
    def __init__(self, category, maker, year, color):
        self.category = category
        self.maker = maker
        self.year = year
        self.color = color

    def display_mycar(self):
        print ('MyCar: {}'.format(self.category))
        print ('Maker: {}'.format(self.maker))
        print ('Year: {}'.format(self.year))
        print ('Color: {}'.format(self.color))

class Ecar(Car):
        pass

kona_mine = Ecar('eCar','HYUNDAI', '2019', 'Red')
kona_mine.display_mycar()

MyCar: eCar
Maker: HYUNDAI
Year: 2019
Color: Red

#Quiz

Make a class called “Car”

Create a simple method within the class

Make a subclass “Truck”

And check if the subclass inherited the method

In [ ]:
# Your Version

In [ ]:
class Car():
    def __init__(self, engine, body):  
        self.engine = engine
        self.body = body

mycar = Car("2 lister engine", "beautiful shape.") 
print ("My car has {0} with {1}".format(mycar.engine, mycar.body))

class Truck(Car):
    pass

mytruck = Truck("5 liter engine", "tough body.")
print ("My car has {0} with {1}".format(mytruck.engine,mytruck.body))

My car has 2 lister engine with beautiful shape.
My car has 5 liter engine with tough body.

# Lesson 32 Overriding

In [ ]:
class Car(object):
    def __init__(self, category, fuel):
        self.category = category
        self.fuel = fuel

    def display_mycar(self):
        print ("My car is {0} and it requires {1} for fuel.". format(self.category,self.fuel))

mysportscar = Car("an old car","gasoline")
mysportscar.display_mycar()

My car is an old car and it requires gasoline for fuel.

In [ ]:
class Car(object):
    def __init__(self, category, fuel):
        self.category = category
        self.fuel = fuel

    def display_mycar(self):
        print ("My car is {0} and it requires {1} for fuel.". format(self.category,self.fuel))

class Ecar(Car):
    pass

myecar = Ecar("a new car","electricity") 
myecar.display_mycar()
mysportscar = Car("an old car", "gasoline")
mysportscar.display_mycar()

My car is a new car and it requires electricity for fuel.
My car is an old car and it requires gasoline for fuel.

In [ ]:
class Car(object):
    def __init__(self, category, fuel):
        self.category = category
        self.fuel = fuel

    def display_mycar(self):
        print ("My car is {0} and it requires {1} for fuel.". format(self.category,self.fuel))

class Ecar(Car):
    def display_mycar(self):
        print ("My car does not require fuel. and it only requires {}.". format(self.fuel))

myecar = Ecar("a new car","electricity") 
myecar.display_mycar()
mysportscar = Car("an old car", "gasoline")
mysportscar.display_mycar()

My car does not require fuel. and it only requires electricity.
My car is an old car and it requires gasoline for fuel.

# Quiz

Create “Car”

Car gives “toll” a value of 2.

Create a subclass “Truck(Car)”.

Truck gives “toll” a value of 3.

Call “toll” in subclass.

In [ ]:
# Your Version

In [ ]:
class Car(object):
  def __init__(self, toll):
      self.toll = toll

  def display_car(self):
      print ("The toll for a sedan is {} dollars". format(self.toll))

class Truck(Car):

  def display_car(self):
      print ("The toll for a truck is {} dollars". format(self.toll))


pay_toll = Truck("3")
pay_toll.display_car()

pay_toll = Car("2")
pay_toll.display_car()

The toll for a truck is 3 dollars
The toll for a sedan is 2 dollars

# Lesson 33 Super

In [1]:
class Car(object):
    def __init__(self, model):
        self.model = model

    def calculate_mileage(self, mile):
        self.mile = mile
        return mile * 1

road = Car('Sonata')
print (road.calculate_mileage(10))

10

In [2]:
class Car(object):
    def __init__(self, model):
        self.model = model

    def calculate_mileage(self, mile):
        self.mile = mile
        return mile * 1

class Truck(Car):
    pass


road = Truck('road')
print (road.calculate_mileage(10))

10

In [4]:
class Car(object):
    def __init__(self, model):
        self.model = model

    def calculate_mileage(self, mile):
        self.mile = mile
        return mile * 1

class Truck(Car):
    def calculate_mileage(self, mile):
        self.mile = mile
        return mile * 2

road = Truck('road')
print (road.calculate_mileage(10))

20

In [5]:
class Car(object):
    def __init__(self, model):
        self.model = model

    def calculate_mileage(self, mile):
        self.mile = mile
        return mile * 1

class Truck(Car):
    def calculate_mileage(self, mile):
        self.mile = mile
        return mile * 2

    def highway_mileage(self, mile):
        return super(Truck, self).calculate_mileage(mile)

highway = Truck('highway')
print (highway.highway_mileage(10))

10

# Quiz

Make a mother class ‘Leave’

Create a method to calculate vacation leaves

Make a sub_calss  “Sick_days”

Pass it and it inherits everything .

Make the same classes again but this time, 
subtract sick days from the function calculate_leaves

In [ ]:
# Your Version

In [ ]:
class Leave(object):
    def __init__(self, leave):
        self.leave = leave
# You get 4% of vacation from your working days
    def calculate_leave(self, days):
        self.days = days
        return days * 0.04

vac_leave = Leave('Vacation_Leave')
print (vac_leave.calculate_leave(100))

4.0

In [ ]:
class Leave(object):
    def __init__(self, leave):
        self.leave = leave
# You get 4% of vacation from your working days
    def calculate_leave(self, days):
        self.days = days
        return days * 0.04

class Sick_days(Leave):
  pass

vac_leave = Leave('Vacation_Leave')
print (vac_leave.calculate_leave(100))

4.0

In [ ]:
class Leave(object):
    def __init__(self, leave):
        self.leave = leave
# You get 4% of vacation from your working days
    def calculate_leave(self, days):
        self.days = days
        return days * 0.04

class Sick_days(Leave):
    def calculate_leave(self, days):
       sick_days=3
       return (days * 0.04 + sick_days)

vac_leave = Sick_days('vac_leave')
print (vac_leave.calculate_leave(100))

7.0

In [ ]:
class Leave(object):
    def __init__(self, leave):
        self.leave = leave
# You get 4% of vacation from your working days
    def calculate_leave(self, days):
        self.days = days
        return days * 0.04

class Sick_days(Leave):
    def calculate_leave(self, days):
       sick_days=3
       return (days * 0.04 + sick_days)

    def without_paper(self, days):
        return super(Sick_days, self).calculate_leave(days)
    

vac_leave = Sick_days('without_paper')
print (vac_leave.without_paper(100))

4.0

# Lesson 34 Lambda

    a = 2        
    b = 2
    print (a + b)

      def sample(a,b):
              print(a + b)

      sample(2,2)

    a = lambda x, y: x + y
    print (a(2,2))

In [ ]:
sample1 = lambda x,y,z: x+y+z
print (sample1(1,2,3))

sample2 = lambda x,y,z: x*y*z
print (sample2(1,2,3))

z = (lambda x,y: x+y) (10,20) 
print (z)

6
6
30

In [ ]:
y = lambda x: x**3
print (y(7))

z = (lambda x,y: x**3+y**3) (3,4) 
print (z)

z = (lambda x,y: x**3+y**3) 
print (z(3,4))

343
91
91

# Quiz

Print out even and odd numbers using lambda functions

Please see the below codes that we used in the continue statement section



---


    for num in range(1, 3):
      if num% 2 == 0:
        print (num)
        continue
    
    for num in range(1, 3):
      if num% 2 == 1:
        print (num)
        continue

In [ ]:
# Your Version

In [ ]:
print ((lambda x, y: x if x % 2 == 0 else y)(1,2))
print ((lambda x, y: x if x % 2 == 1 else y)(1,2))

2
1

In [ ]:
mylist = list(range(1, 3))
print (list(filter(lambda n:n % 2 == 0 , mylist)))
print (list(filter(lambda n:n % 2 == 1 , mylist)))

[2]
[1]

# Lesson 35 Lambda and Functions

(1) map() function

  	list(map(lambda x: x ** 3, range(5)))

(2) filter() function

 	list(filter(lambda x: 3<x < 5, range(6)))

In [ ]:
print (list(map(lambda x: x ** 2, [5,6,7,8,9])))

[25, 36, 49, 64, 81]

In [ ]:
print (list(filter(lambda x: x < 3, range(11))))

[0, 1, 2]

# Quiz

Add 1 to 10 using the map() function

Print even numbers using filter function

In [ ]:
# Your Version

In [ ]:
# Instead of map(), we can use reduce function to do so
# reduce used to be a built-in method, but now we have to import it
import functools
from functools import reduce
print(reduce(lambda x, y: x+y, range(1,11)))

55

In [ ]:
mylist =  [-2, -1, 1, 2]
print (list(filter(lambda x: x%2 == 0, mylist)))

[-2, 2]

# Lesson 36 List Comprehension

In [ ]:
even_ten = [x * 2 for x in range(6)]
print (even_ten)

[0, 2, 4, 6, 8, 10]

In [ ]:
odd_ten = [x*2+1 for x in range(5)]
print (odd_ten)

[1, 3, 5, 7, 9]

In [ ]:
a = ['BMW' ,'FORD','CHEVY']
b = [2019,2020]
 
comb_car = [(c, y) for c in a for y in b]
 
print (comb_car)

[('BMW', 2019), ('BMW', 2020), ('FORD', 2019), ('FORD', 2020), ('CHEVY', 2019), ('CHEVY', 2020)]

# Quiz

mylist = [1,2,3,"a","b",4.0,5.0,True, False]

Make four new lists out of mylist for each data type

In [ ]:
# Your Version

In [8]:
mylist = [1,2,3,"a","b",4.0,5.0,True, False]

newlist1 = [i for i in mylist if type(i)==int]
print (newlist1)


newlist2 = [i for i in mylist if type(i)==float]
print (newlist2)


newlist3 = [i for i in mylist if type(i)==bool]
print (newlist3)

newlist4 = [i for i in mylist if type(i)==str]
print (newlist4)

[1, 2, 3]
[4.0, 5.0]
[True, False]
['a', 'b']

# Lesson 37 Set Comprehension

In [ ]:
even_ten = {x * 2 for x in range(6)}
print (even_ten)

{0, 2, 4, 6, 8, 10}

In [ ]:
odd_ten = {x*2+1 for x in range(5)}
print (odd_ten)

{1, 3, 5, 7, 9}

In [ ]:
a = {'BMW' ,'FORD', 'CHEVY', 'FORD'}

b = {2019, 2020}
comb_car = {(c, y) for c in a for y in b}

print (comb_car)

{('FORD', 2020), ('BMW', 2020), ('CHEVY', 2020), ('BMW', 2019), ('FORD', 2019), ('CHEVY', 2019)}

# Quiz

myset = {1,2,3,"a","b",4.5,5.5,True, False} 

From myset,

Create a new set 1 for the data type is integer

Create a new set 2 for the data type is float

Create a new set 3 for the data type is boolean

Create a new set 4 for the data type is string

In [ ]:
# Your Version

In [11]:
myset = {1,2,3,"a","b",4.5,5.5,True, False}

newset2 = {i for i in myset if type(i)==int}
print (newset2)

newset1 = {i for i in myset if type(i)==float}
print (newset1)


newset3 = {i for i in myset if type(i)==bool}
print (newset3)


newset4 = {i for i in myset if type(i)==str}
print (newset4)

{1, 2, 3}
{4.5, 5.5}
{False}
{'b', 'a'}

# Lesson 38 Dictionary Comprehension

    newdict  = [key: value for key, value in input sequence]

    new_dict = {key: value for key, value in zip(dict1, dict2)}

In [ ]:
cars = ['BMW', 'FORD', 'CHEVY', 'KIA']
years = [2019, 2020, 2018, 2019]

year_dict = {key: value for key, value in zip(cars, years)}

print (year_dict)

{'BMW': 2019, 'FORD': 2020, 'CHEVY': 2018, 'KIA': 2019}

# Quiz

Create a dictionary that combines basketball players and positions

The players list has ['Curry','Harden','James','Davis','Jokic']

The positions are ['PG','SG','SF','PF','C']

In [ ]:
# Your Version

In [ ]:
players = ['Curry','Harden','James','Davis','Jokic']
positions = ['PG','SG','SF','PF','C']
 
mydict1 = {key: value for key, value in zip(players,positions)}
print (mydict1)

{'Curry': 'PG', 'Harden': 'SG', 'James': 'SF', 'Davis': 'PF', 'Jokic': 'C'}