<a href="https://colab.research.google.com/github/joshuajhchoi/ai2learn/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%B2%98%EC%9D%8C%ED%95%98%EB%8A%94_%EB%B6%84%EB%93%A4%EC%9D%84_%EC%9C%84%ED%95%9C_8%EC%8B%9C%EA%B0%84_%EB%A7%8C%EC%97%90_%EC%9D%B4%ED%95%B4%ED%95%98%EB%8A%94_%EB%A8%B8%EC%8B%A0_%EB%9F%AC%EB%8B%9D_%EA%B8%B0%EC%B4%88_%EC%88%98%EC%97%85_(7)_Pandas_%EA%B8%B0%EB%B3%B8_%EC%9D%B4%ED%95%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

목차

1. 파이썬 기초 문법 이해하기 (2시간 15분)
2. 주피터노트북 및 Colab 이해 (15분)
3. NumPy 기본 (30분)
4. Matplotlib 기본 이해 (30분)
5. Seaborn 기본 이해 (30분)
6. 통계 필요사항 기본 이해 (30분)

##7. Pandas 기본 이해 (30분)

8. ScikitLearn 기본 이해 (30분)
9. 머신러닝 알고리즘 개요 이해 (30분)
10. Kaggle Titanic 입문하기 (2시간)

## Pandas

* Pandas는 오픈 소스 파이썬 라이브러리로 간편하면서도 파워풀한 데이터 구성 및 분석 툴이다.
* 넘파이 기반에서 작동한다.
* 넘파이 기반에서 SciPy, Pandas, Matplotlib 등이 작동되고 그 위에 SkLearn 등이 작동된다고 생각하시면 됩니다.

* 우선 넘파이를 임포트하고 이어서 판다스를 임포트한다.

In [0]:
import numpy as np
import pandas as pd

* 이어서 파일을 임포트 합니다.

In [2]:
from google.colab import files
uploaded = files.upload()

Saving tips.csv to tips.csv

* 이어서 이를 데이터프레임에 임포트하여 데이터셋이 판다스 데이터프레임에 임포트 되도록 합니다.

In [0]:
import io
tips = pd.read_csv(io.BytesIO(uploaded['tips.csv']))

* 파일을 한 번 보도록 하겠습니다.

In [4]:
tips.head()

   1  total_bill   tip     sex smoker  day    time  size  Unnamed: 8
0  2       16.99  1.01  Female     No  Sun  Dinner     2         NaN
1  3       10.34  1.66    Male     No  Sun  Dinner     3         NaN
2  4       21.01  3.50    Male     No  Sun  Dinner     3         NaN
3  5       23.68  3.31    Male     No  Sun  Dinner     2         NaN
4  6       24.59  3.61  Female     No  Sun  Dinner     4         NaN

In [5]:
tips.dtypes

1               int64
total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
Unnamed: 8    float64
dtype: object

In [6]:
tips.index

RangeIndex(start=0, stop=244, step=1)

In [7]:
len(tips)

244

In [9]:
tips.columns

Index(['1', 'total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'Unnamed: 8'],
      dtype='object')

In [10]:
tips.values

array([[2, 16.99, 1.01, ..., 'Dinner', 2, nan],
       [3, 10.34, 1.66, ..., 'Dinner', 3, nan],
       [4, 21.01, 3.5, ..., 'Dinner', 3, nan],
       ...,
       [243, 22.67, 2.0, ..., 'Dinner', 2, nan],
       [244, 17.82, 1.75, ..., 'Dinner', 2, nan],
       [245, 18.78, 3.0, ..., 'Dinner', 2, nan]], dtype=object)

* 위와 같이 파일을 대략 확인해 볼 수 있습니다.
* 아래에서는 중간값, 표준편차 최소값 등을 한번 보겠습니다.

In [11]:
tips.describe()

                1  total_bill         tip        size  Unnamed: 8
count  244.000000  244.000000  244.000000  244.000000         0.0
mean   123.500000   19.785943    2.998279    2.569672         NaN
std     70.580923    8.902412    1.383638    0.951100         NaN
min      2.000000    3.070000    1.000000    1.000000         NaN
25%     62.750000   13.347500    2.000000    2.000000         NaN
50%    123.500000   17.795000    2.900000    2.000000         NaN
75%    184.250000   24.127500    3.562500    3.000000         NaN
max    245.000000   50.810000   10.000000    6.000000         NaN

* Sorting을 해보겠습니다.
* size를 가지고 오름차순, 내림차순으로 해봅니다.

In [14]:
tips.sort_values('size', ascending=False)

       1  total_bill   tip     sex smoker   day    time  size  Unnamed: 8
143  145       27.05  5.00  Female     No  Thur   Lunch     6         NaN
156  158       48.17  5.00    Male     No   Sun  Dinner     6         NaN
125  127       29.80  4.20  Female     No  Thur   Lunch     6         NaN
141  143       34.30  6.70    Male     No  Thur   Lunch     6         NaN
185  187       20.69  5.00    Male     No   Sun  Dinner     5         NaN
..   ...         ...   ...     ...    ...   ...     ...   ...         ...
105  107       15.36  1.64    Male    Yes   Sat  Dinner     2         NaN
67    69        3.07  1.00  Female    Yes   Sat  Dinner     1         NaN
222  224        8.58  1.92    Male    Yes   Fri   Lunch     1         NaN
111  113        7.25  1.00  Female     No   Sat  Dinner     1         NaN
82    84       10.07  1.83  Female     No  Thur   Lunch     1         NaN

[244 rows x 9 columns]

In [16]:
tips.sort_values('size', ascending=True)

       1  total_bill   tip     sex smoker   day    time  size  Unnamed: 8
67    69        3.07  1.00  Female    Yes   Sat  Dinner     1         NaN
82    84       10.07  1.83  Female     No  Thur   Lunch     1         NaN
222  224        8.58  1.92    Male    Yes   Fri   Lunch     1         NaN
111  113        7.25  1.00  Female     No   Sat  Dinner     1         NaN
0      2       16.99  1.01  Female     No   Sun  Dinner     2         NaN
..   ...         ...   ...     ...    ...   ...     ...   ...         ...
155  157       29.85  5.14  Female     No   Sun  Dinner     5         NaN
143  145       27.05  5.00  Female     No  Thur   Lunch     6         NaN
156  158       48.17  5.00    Male     No   Sun  Dinner     6         NaN
141  143       34.30  6.70    Male     No  Thur   Lunch     6         NaN
125  127       29.80  4.20  Female     No  Thur   Lunch     6         NaN

[244 rows x 9 columns]