<a href="https://colab.research.google.com/github/joshuajhchoi/ai2learn/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%B2%98%EC%9D%8C%ED%95%98%EB%8A%94_%EB%B6%84%EB%93%A4%EC%9D%84_%EC%9C%84%ED%95%9C_8%EC%8B%9C%EA%B0%84_%EB%A7%8C%EC%97%90_%EC%9D%B4%ED%95%B4%ED%95%98%EB%8A%94_%EB%A8%B8%EC%8B%A0_%EB%9F%AC%EB%8B%9D_%EA%B8%B0%EC%B4%88_%EC%88%98%EC%97%85_(1)_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EB%AC%B8%EB%B2%95_%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

목차
1. 파이썬 기초 문법 이해하기 (2시간 15분)
2. 주피터노트북 및 Colab 이해 (15분)
3. NumPy 기본 (30분)
4. Matplotlib 기본 이해 (30분)
5. Seaborn 기본 이해 (30분)
6. 통계 필요사항 기본 이해 (30분)
7. Pandas 기본 이해 (30분)
8. ScikitLearn 기본 이해 (30분)
9. 머신러닝 알고리즘 개요 이해 (30분)
10. Kaggle Titanic 입문하기 (2시간)

#1. 파이썬 기초 문법 이해하기 (2시간 15분)

#TASK 1– Print Statement


##학습 내용
* 우리가 배울 첫 번째 파이썬 문법은 print 문입니다.
* print문을 통해 사용자는 인쇄하고 결과를 보여줄 수 있습니다.


##문법

         print  ("Hello Python!")

 
##설명

* print (‘문장’)의 형식으로 print 문을 사용합니다.
* 숫자의 경우에는 print (숫자)로 출력합니다.
* 추후 배우겠으나 변수의 값을 출력할 경우에는 print (변수)로 출력합니다.
* Python 2 문법에서는 괄호가 없어서 괄호 없이 인쇄를 해도 되기도 하나 괄호를 넣고 꼭 프린트문을 실행하도록 연습합니다.
* 작은 따옴표 (' ')나 큰 따옴표 (" ") 둘 모두 괜찮으나 둘을 섞여서  
	(' ") 또는 (" ') 형태로 사용되지 않도록 주의합니다. 
* '#' 로 시작하는 라인은 코딩에 영향을 미치지 않으므로 주석이나 설명 등을 넣을 때 사용합니다. 

## 연습

        print ("Hello Python!") 
        print (3)

* 이 두 라인을 에디터에 넣고  Hello Python! 과 3, 이 두개를 출력해 봅니다.


##주의
* 워드 폰트에 따라 따옴표 (＂ ＂) 를 복사하여 Python 에디터에 붙여 넣으면 오류가 발생하기도 합니다. 이 경우 지우고 다시 입력해야 합니다. 




##코딩 부분

In [0]:
# 두 문장을 출력해 봅니다.
print ("Hello Python!") 
print (3)

Hello Python!
3

####Video

https://youtu.be/zVIQuRShh9U

##추가 연습 

* 프린트를 할 때 한 줄이 아니라 여러 줄의 문장을 프린트를 하는 경우가 있습니다.  주소 같은 경우가 대표적인 예일 것입니다. 
* 이때는 처음에 따옴표 3개를 넣어서 여러 줄이 시작한다는 것을 컴퓨터에게 알리고 마지막에 따옴표 3개를 넣어서 출력할 내용이 끝났다고 알리면 됩니다.
* 아래 주소를 프린트 문을 사용하여 출력해 봅니다.

        Hong Gildong
        123 Ho, ABC Street,
        Samsung-dong, Gangnam-gu
        Seoul, Korea

In [0]:
print ("""Hong Gildong
123 Ho, ABC Street,
Samsung-dong, Gangnam-gu
Seoul, Korea""")

Hong Gildong
123 Ho, ABC Street,
Samsung-dong, Gangnam-gu
Seoul, Korea


####Extra Practices

(1) "My name is 0 0 0 "를 입력하여 프린트 해봅니다.

In [0]:
print ("My name is Hong Gildong.")

My name is Hong Gildong.

(2)  " I like 0 0 0" 문장을 통해 자신이 좋아하는 것을 넣어 봅니다.

In [0]:
print ("I like hotcakes.")

(3)  자신의 주소를 위와 같이 여러 줄로 만들어서 영어로 출력해 봅니다.

In [0]:
print ("""Hong Gildong
#314 Uju APT, Uju-ro
Uju-dong, Uju-gu
Seoul, Korea""")

Hong Gildong
#314 Uju APT, Uju-ro
Uju-dong, Uju-gu
Seoul, Korea

#TASK 2     -     Methods


##학습 내용
* Method는 기본적으로 내장된 기능(함수)이라고 이해를 하면 됩니다. 
* input()이라는 입력을 위한 method를 우선 배워봅니다.


##문법

        변수 = input()          # 프롬프트가 깜빡 깜빡 나타남
        변수 = input(“질문”)    # 질문 다음에 프롬프트가 깜빡 깜빡 나타남


 
##설명
* 프린트 문으로 출력을 할 수 있다면 그럼 입력은 어떻게 할지 궁금해집니다.  
* ATM기기 앞에서 비밀번호를 입력하는 경우를 보겠습니다.
* 비밀번호를 입력하라는 안내가 나오면 비밀번호 4자리를 입력해 보겠습니다.
* 아래의 경우는 프린트문으로 질문을 출력하고 이어서 아래줄에 깜빡이는 프롬프트에 숫자를 입력하는 방법입니다.

        print ("Please enter your 4 digit code!")
        my_code = input() 

하지만 이 것을 한 줄로 할 수도 있습니다. 이경우 문장의 오른 쪽에 프롬프트가 깜빡입니다.

        my_code = input("Please enter your 4 digit code!") 



## 연습

        print ("Please enter your 4 digit code!")
        my_code = input() 

        my_code = input(“Please enter your 4 digit code!”) 




##주의
* 위의 my_code 같은 것을 변수라 부릅니다. 
* 변수는 소문자로 쓰고 띄어쓰기 대신에 언더바_를 쓰며 다른 것과 이름이 겹치지 않게 써야 합니다.
* 메소드는 함수이나 여기서는 함수와는 다르게 간주한다고 생각하면 됩니다.
* 메소드는 이미 정의되어 내장되어 있는 함수 입니다.
* 따라서 불러올 필요도 없고, 따로 정의할 필요가 없습니다.
* 반면에 이 책에서 말하는 함수는 주로 내가 만드는 함수를 의미 합니다. 



##코딩 부분

In [0]:
print ("Please enter your 4 digit code!")
my_code = input() 

my_code = input("Please enter your 4 digit code!")

Please enter your 4 digit code!
1234
Please enter your 4 digit code!1234


####Video
https://youtu.be/DimJAHzRWMo

##추가 연습 

* 연습 내용
* "What is your name?" 이란 문장을 프린트하여 이름을 물어보고
* input() 메소드를 통하여 이름을 입력하면 
* Thank you + 입력된 이름을 출력하는 것을 만들어 봅니다.

예)

        What is your name?
        (입력) - 예) Gildong
        Thank you, Gildong

In [0]:
print ("What is your name?") 
your_name = input()
print ("Thank you, " + your_name)

What is your name?
GD
Thank you, GD

###Extra Practices

(1) 위의 과제에서
* "What's your name?"을 묻고
* 이를 입력하고 (자신의 이름 입력)
* 이에 대해 "Welcome" 이라고 답하는 코드를 만들어 보시오

In [0]:
print ("What is your name?") 
your_name = input()
print ("Welcome!")

What is your name?
GD
Welcome!

(2) 위의 과제에서 
* "Please enter your 4 digit code"로 4자리수 비밀 번호를 묻고
* 이를 입력하고
* 이에 대해 "Authorized" (승인됨) 를 출력하는 코드를 만들어 보시오.
* "Authorized" 외에 "Access Granted"(접속 승인)를 써도 비슷한 뜻이 됩니다.

In [0]:
print ("Please enter your 4 digit code") 
your_code = input()
print ("Authorized!")

Please enter your 4 digit code
1234
Authorized!

* 다음은 input외에 쓰이는 메소드의 일부입니다.

* abs(x) - 숫자의 절댓값을 돌려줍니다.

In [0]:
print (abs(-3))

3

* all(iterable) - 모든 요소가 참이면 (또는 비어있으면) True 를 돌려줍니다

In [0]:
a = [1, 3, 4, 5]
print (all(a))

True

* bin(x) - 정수를 "0b" 가 앞에 붙은 binary code로 변환합니다.

In [0]:
a = bin(3)
print (a)

0b11

* bool([x]) - 논리값, 즉 True 또는 False 중 하나를 돌려줍니다.

In [0]:
bl = [0]
print (bool(bl))

True

* chr(i) - 유니코드 코드 포인트가 정수 i 인 문자를 나타내는 문자열을 돌려줍니다. 예를 들어, chr(97) 은 문자열 'a' 를 돌려주고, chr(8364) 는 문자열 '€' 를 돌려줍니다.

In [0]:
print (chr(97) + chr(98) + chr(99))

abc

#TASK 3– Strings and Numbers


##학습 내용
* string 은 우리가 배울 첫 번째 유형의 데이터로 알파벳, 기호, 공백 등이 
포함됩니다. 그리고 number 는 숫자형의 데이터입니다.



##문법

        "string"
        3


 
##설명
* string 에는 알파벳, 기호, 공백 및 기타가 포함됩니다.
* string 은 큰 따옴표 (" ") 또는 작은 따옴표 (' ') 에 넣어서 표현을 합니다.
* 예제와 같이 + 를 사용하여 string을 합할 수 있습니다.
* number (숫자)는 우리가 두 번째로 배울 유형의 데이터 입니다.
* 컴퓨터는 string과 number를 다르게 취급합니다.

        예를 들어, 1 은 숫자 1 이지만 "1" 은 문자열 "1" 입니다.
        1 + 1 = 2 이지만  "1" + "1" 은 "11" 입니다
        따라서 2 * 3 은 6 이지만 ‘2’ * 3 은 "222" 입니다.



## 연습

* "I love" 와 "my car" 두 string 사이에 + 를 사용하여 둘을 합하십시오.
* + 를 사용하여 두 개의 숫자 2 와 3 을 더하십시오.
* + 를 사용하여 두 개의 string  "2" 와 "3" 을 합하십시오
* 그리고 결과를 print 하여 봅니다.


##주의
* 단어와 단어를 연결할 때 공백(" ")을 넣어 주는 것이 필요하기도 합니다.
* print 할 때 string 과 number 를 + 를 사용하여 더할 수 없습니다.
* 데이터의 형태가 다르기 때문입니다.





##코딩 부분

In [1]:
print ("I love" + " " + "my car.")

print (2+3)

print ("2" + "3")

I love my car.
5
23

####video
https://youtu.be/6fmMA3k5sN8

##추가 연습 

* I was born in 1999을 출력할 때  다음과 같이 출력할 수 없습니다

        print  ("I was born in " + 1999)

* 데이터의 종류가 상이하기 때문입니다.
* 이 경우 1999를 str() method를 사용하여 스트링화 하면 데이터의 종류가 같아져서 프린트 할 수 있습니다.

        a = "I was born in "
        b= str(1999)
        print (a + b)

In [2]:
a = "I was born in "
b= str(1999)
print (a + b)

I was born in 1999

####Extra Practice

(1) "My favorite car is KIA." 란 문장을 3조각으로 나누어서 +  + 를 붙여서 만들어 봅니다.

공란이 적절히 들어가서 띄어쓰기가 잘 되도록 주의합니다.

In [3]:
a = "My favorite car is"
b= " "
c = "KIA."
print (a + b + c)

My favorite car is KIA.

(2) 숫자 1234와 5678을 더합니다

이어서 "1234"와 "5678"을 더해 봅니다.

In [4]:
a = 1234
b= 5678
c = "1234"
d = "5678"
print (a + b)
print (c + d)

6912
12345678

#TASK 04     -   String Indexing


##학습 내용
* 이 과에서는 string 위치에 접근하는 방법을 배웁니다.
* Indexing이란 표현을 씁니다.


##문법

         스트링변수 [위치]

 
##설명
* HYUNDAI란 단어에는 알파벳이 7자가 있습니다.
* 첫 번째 위치는 1이 아닌 '0'으로 색인되므로 아래 7 개의 문자는 0, 1, 2, 3, 4, 5, 6 의 위치를 갖습니다

        H   Y   U   N   D   A   I
        0   1   2   3   4   5   6



* name이란 변수에 스트링 값을 주고 출력을 print(name[0]) 하면 해당 string의 첫 알파벳이 나옵니다.
* 따라서 HYUNDAI에서 ‘D’의 위치(5번째 위치)를 색인 하려면  [4]를 인덱싱 합니다.

## 연습

* CHEVROLET에서 3번(4번째)의 위치를 indexing 해봅니다.

        maker = "CHEVROLET"
        print (maker[3])




##주의
‘1’이 아닌"0"에서 시작한다는 것을 명심하세요.




##코딩 부분

In [5]:
maker = "CHEVROLET"
print (maker[3])

V

####Video
https://youtu.be/WYdakBJ923c

##추가 연습 

* String인 "Korea" 는 알파벳 개수가 5개입니다.
* 0번 부터 4번까지 인덱스가 주어질 수 있습니다.
* 따라서 원하는 것이 r이라면

      "Korea"[2] 라고 하면 r이 나오게 됩니다.

In [6]:
country = "Korea"
print (country[2])

r

####Extra Practice

(1) 문장을 주고 인덱싱을 해봅니다. 예를 들어 I am happy 란 문장을 주고 [1]을 인덱싱하면 공란이 나올까요?

In [7]:
sent = "I am happy"
print (sent[1])
print (sent[2])

a

(2)  영어가 아니라 한글 단어를 인덱싱하면 어떻게 될까요?

In [8]:
word = "영어한글단어"
print (word[0])
print (word[1])

영
어

(3)  영어 알파벳과 숫자가 섞여 있는 것은 어떻게 인덱싱을 할까요?

In [9]:
word = "ai2learn"
print (word[2])
print (word[3])

2
l

#TASK 05     -   String Methods



##학습 내용
* 세 가지 유형의 대표적인 string 메소드를 배워봅니다. 

        len()   lower()   upper() 


##문법

         	len()  - string의 길이를 보여 줍니다.
        	lower() - string을 모두 소문자로 변환합니다.
        	upper() - string을 모두 대문자로 변환 합니다.


 
##설명
* import 나 새로 정의를 안 해도 쓸 수 있는 함수를 메소드라고 합니다.

다음의 예를 보며 위의 메소드를 이해 하겠습니다.

        maker란 변수에  'Mercedes'란 값을 줍니다.
        maker = 'Mercedes'

* 여기서 주어진 스트링을 길이를 구하려면 

      len (maker)를 하면 됩니다. 
      그러면 8이 답으로 나옵니다.

*숫자의 길이를 구할 수는 없습니다.
* len(12345)는 에러를 발생합니다. 
* 긴 숫자는 긴 것이 아니라 큰 것이기 때문입니다.
* 반면에 str() 메소드를 써서 len(str(12345))를 프린트하면 에러가 발생하지 않고 5가 나옵니다.


## 연습
* 다음을 해봅니다. 


        maker = "CHEVROLET"
        print (len(maker))
        print (len("Hong Gildong")
        a = 12345
        print (len(str(a)))




##주의
* 빈칸도 길이에 들어 갑니다. 




##코딩 부분

In [10]:
maker = "CHEVROLET"
print (len(maker))
print (len("Hong Gildong"))
a = 12345
print (len(str(a)))

9
12
5

####Video
https://youtu.be/x9EOzSHWe5s

##추가 연습 

* 메서드 lower()와 upper()는 기존에 사용했던 str(123) 메서드와 달리 다음과 같이 표현하며 사용합니다.


        maker.lower()
        maker.upper()


* lower()는 string을 모두 소문자로 만들어 주고 upper()는 string을 모두 대문자로 만들어 줍니다.
* 이와 같이 표현하는 방법을 “Dot Notation”이라고 부릅니다.
* 구체적인 내용은 함수를 배우면서 더욱 익숙해질 것입니다.

In [11]:
maker = "CHEVROLET"
print (maker.lower())
print (maker.upper())

chevrolet
CHEVROLET

####Extra Practice

(1)maker 에 "Mercedes"를 대입하고

year는 str(2020)

month는 "June"

길이를 구하고

maker의 소문자 출력 및 대문자 출력에 이어서 몇 월 + 한칸 띄고 + 몇 년을 출력해봅니다.

In [12]:
maker = "Mercedes"
year = str(2020)
month = "June"

print (len(maker))
print (maker.lower())
print (maker.upper())
print (month + " " + year)

8
mercedes
MERCEDES
June 2020

(2)  warrior_name란 변수에 “Gildong”을 넣어봅니다.

print warrior_name.lower()를 프린트 해봅니다.

In [13]:
warrior_name = "Gildong"

print (warrior_name.lower())

gildong

(3)  warrior_name란 변수에 “Gildong”을 넣어봅니다.

print warrior_name.upper()를 프린트 해봅니다.

In [14]:
warrior_name = "Gildong"

print (warrior_name.upper())

GILDONG

#TASK 06   -     Arithmetic Operators


##학습 내용
* 숫자 학습을 위해 가장 기본적인 사칙 연산부터 시작합니다.
* 더하기, 빼기, 곱하기, 나누기는 아래 부호를 통해서 합니다.

##문법

         더하기 (+), 빼기 (-), 곱하기 (*), 나누기 (/)

 
##설명
* 다음 사칙 연산을 해보며 이해를 합니다.

        first_add = 12345 + 56789
        first_sub = 543-321
        first_multi = 12 * 34
        first_div = 520/24


## 연습

* 앞의 덧샘, 뺄센, 곱셈, 나눗셈을 실시하고 프린트를 해봅니다.



##주의
* 변수 first_add 처럼 언더바를 사용하여 빈칸을 대신합니다.



##코딩 부분

In [15]:

first_add = 12345 + 56789
first_sub = 543-321
first_multi = 12 * 34
first_div = 520/24
print (first_add)
print (first_sub)
print (first_multi)
print (first_div)

69134
222
408
21.666666666666668

####Video
https://youtu.be/Ttn7vaZO4zM

##추가 연습 

* %는 나머지를 나타냅니다

        15 % 2 = 1 
        133 % 7 = 0

In [16]:
rem1 = 15 % 2 
rem2 = 133 % 7
print (rem1)
print (rem2)

1
0

####Extra Practice

(1) 다음 연습을 해봅니다.

    	    a = 19

            b = 5

            c = 7
            
            result = (a+b)/c + (a-c)/b

In [17]:
a = 19
b = 5
c = 7
result = (a+b)/c + (a-c)/b
print (result)

5.828571428571428

(2) a에서 b를 나눈 나머지에 c를 더해 봅니다.

        a = 75

        b = 13

        c = 4 일 때
        
        a % b + c

In [18]:
a = 75
b = 13
c = 4

print (a%b + c)

14

#TASK 07    -    Number Methods


##학습 내용
* 두 가지 유형의 숫자 데이터가 있습니다 
* integer(정수)와 float(실수) 및 그와 관련된 메소드를 보겠습니다.


##문법

        int(숫자)   # 정수로 표현된다
        float(숫자) # 실수로 표현된다
        str(숫자)   # 보이기는 숫자로 보이지만 문자로 인식된다.



 
##설명
* integer는 소수점 이하의 숫자를 나타낼 수 없습니다. 
* float은 소수점 이하의 숫자를 나타낼 수 있습니다. 
 
        int_sample = 1
        int_test = 2
        int_minus = -3
        float_sample = 1.0
        float_test = 2.
        float_minus = -3.5

그 외에, 숫자의 단위 수를 높여 0을 늘릴 때 e는 유용합니다.

예를 들어 

        float_e = 3.5e3는 3.5 X 1,000을 의미합니다.



## 연습


* float 3.5를 int(3.5)로 하여 3이 나오는지 확인해 봅니다.
* int 3을 float(3)으로 하여 3.0이 나오는지 확인해 봅니다.
* int(3.5) + float(3)의 답이 얼마가 나오는지 확인해 봅니다.
* str(3) + str(3.5)를 더해 봅니다.


##주의
* 참고로 Input() 메소드로 입력되는 number는 string으로 인식됩니다. 
* 따라서 입력된 숫자를 숫자로 사용하려면 int(입력된 숫자)로 바꾸어 주어야 합니다. 

* 아래의 예를 봅니다.

        input_number = input()
        my_number = int(input_number)
        # 이렇게 바꾸면 my_number의 값이 string이 아니라 integer가 됨 
        # 또는 처음부터 아래와 같이 integer로 인식하게 하는 것도 가능
        a_number = int(input())




##코딩 부분

In [19]:
test1 = int(3.5)
test2 = float(3)
test3 = test1 + test2
test4 = str(3) +str(3.5)

print (test1)
print (test2)
print (test3)
print (test4)

3
3.0
6.0
33.5

####Video
https://youtu.be/geZRO3wWDRg

##추가 연습 

* 변수 gas_liter에 integer 5.5의 값을 줍니다. (구매할 휘발유의 리터량)
* price_per_liter 변수를 만들고 3의 값을 줍니다. (휘발유 리터 당 3달러)
* 변수 sum_price를 생성하고 구매할 gas의 총 가격을 계산하여 할당합니다. (총 구매 액수)
* print 문을 사용하여 sum_price 변수의 integer값을 인쇄합니다.
* 같은 값을 float 값으로 인쇄합니다.

In [20]:
gas_liter =5.5
price_per_liter = 3
sum_price = gas_liter * price_per_liter
print (int(sum_price))
print (float(sum_price))

16
16.5

####Extra Practice


(1) 
* 변수 apple_count 에 정수 10 을 대입하세요.
* 변수 price_apple 를 만들고, 3000을 대입하세요.
* 변수 sum_price 를 만들고, 구매 할 사과의 총 가격을 계산하여 대입하세요.
* 변수 sum_price 를 print 문을 사용하여 출력하세요.

In [21]:
apple_count=10
price_apple = 3000
sum_price = apple_count * price_apple
print (sum_price)

30000

2) 
* (1)의 결과는 정수로 나온다.
* 하지만 사과를 반쪽을 살 수 있다고 가정해봅니다.
* 변수 apple_count 에 실수 5.5를 대입하세요.
* 변수 price_apple 를 만들고, 3000을 대입하세요.
* 변수 sum_price 를 만들고, 구매 할 사과의 총 가격을 계산하여 대입하세요.
* 변수 sum_price 를 print 문을 사용하여 출력하세요.

In [22]:
apple_count=5.5
price_apple = 3000
sum_price = apple_count * price_apple
print (sum_price)

16500.0

#TASK 08    -    Boolean Operators


##학습 내용
* 데이터를 True 및 False로 표현해야 하는 경우가 있습니다.
* 이는 string, numbers에 이어서 세번째로 배울 데이터 타입입니다.


##문법

         a >  b     a는 b보다 큼                   
         a < b      a는 b보다 작음
         a == b     a와 b은 같다                   
         a != b    a와 b는 같지 않음
         a <= b     a는 b보다 작거나 같음      
         a >= b     a는 b보다 크거나 같음


 
##설명
* Boolean은 True / False로 나오나 숫자 값을 가집니다.
* True 는 결과값이 참일 때 반환된다. (True의 값은 1입니다.)
* False 는 결과값이 거짓일 때 반환된다. (False 값은 0입니다.)
* 다음 연산자를 알아야합니다. (아래는 True가 되는 내용입니다.)

    	3 > 2       (3은 2보다 큼)
    	1 <2        (1이 2보다 작음)
    	1 == 1      (1과 1은 같다 )
    	1 ! = 2     (1과 2가 같지 않음)
    	2 <= 2      (2는 2보다 작거나 같음)
    	2 >= 2      (2는 2보다 크거나 같음)


## 연습


* 아래와 같이 정하여 각각의 연산자를 비교하고 그 값을 확인해 봅니다.

        testnumber1 = 1
        testnumber2 = 2
        testnumber3 = 3



##주의
* 조건문에는 = 가 아니라 ==를 사용한다는 것을 기억하세요



##코딩 부분

In [23]:
testnumber1 = 1
testnumber2 = 2
testnumber3 = 3

a = testnumber3 > 2
b = testnumber1< 2 
c = testnumber1 == 1 
d = testnumber1 != 2
e = testnumber2 <= 2 
f = testnumber2 >= 2

print (a)
print (b)
print (c)
print (d)
print (e)
print (f)

True
True
True
True
True
True

####Video
https://youtu.be/1pQ_KzzSZH0

      #숫자를 바꾸어서 False가 되는 경우도 연습합니다.

##추가 연습 

* 아직 배우지 않은 것이지만 조건문의 맛의 잠깐 보겠습니다.
* 아래를 실행을 해보면 이해가 갈 것입니다.

 
        x = 5 

        if x > 5:
            print ( "It is over the limit." )
        else:
            print ( "It is under the limit." )


* if-else는 Task 12에서 배우게 될 것이고 여기서는 불리안의 쓰임만 봅니다.


        X = 6으로 고쳐서 다시 한 번 해봅니다.

In [24]:
x = 5 
if x > 5:
   print ("It is over the limit.")
else:
   print ("It is under the limit.")

It is under the limit.

    # 6으로 고쳐 넣으면 아래와 같이 출력이 됩니다.
    It is over the limit.

#TASK 09   -       Variables


##학습 내용
* 앞에서 우리는 변수(variable)를 접했습니다. 
* 수학에서는 Y = X + 2와 같은 식을 볼 수 있으며 Y와 X 값은 변하지만 2는 변하지 않습니다. 그래서 X,Y는 변수입니다. 파이썬에서의 변수의 쓰임새를 살펴보겠습니다.


##문법

        variable = "string"     # 문자형 변수
        variable = 5            # 숫자형 변수
        variable = input()      # 함수형 변수


 
##설명
* 수학에서는 Y = X + 2와 같은 것을 볼 수 있으며 Y와 X 값은 변하지만 2는 변하지 않습니다. 그래서 변수와 상수라는 표현을 씁니다.
* 우리는 Y와 X를 변수라고 부릅니다.
* 변수(variable)에는 값이 있습니다.
* 이러한 값은 ＂string’, number (integer 또는 float) 또는 True / False 값 등이 있다고 배웠습니다.
* 변수 = ‘string’과 변수 = 숫자 두 가지를 연습해 봅니다.


## 연습



* 문자형 변수의 조합을 살펴 보겠습니다. Peter가 차를 사려고 합니다. 결정한 것은 없는데 Josh가 새 차 및 중고차의 두 경우에 대비하여 3가지 답을 생각해 놓았는데 이를 섞어서 4가지 답을 만들어 봅니다.
* 문자형 변수를 결합해 봅니다.


        situation1 = "It is a new car!"   
        situation2 = "It is a used car."
        comment1 = "Too expensive!!"
        comment2 = "It is a good deal!"
        comment3 = "It can give you headaches!"



##코딩 부분

In [25]:
situation1 = "It is a new car!"   
situation2 = "It is a used car."
comment1 = "Too expensive!!"
comment2 = "It is a good deal!"
comment3 = "It can give you headaches!"


answer1 = situation1 + " " + comment1
answer2 = situation1 + " " + comment2
answer3 = situation2 + " " + comment3
answer4 = situation2 + " " + comment2

print (answer1)
print (answer2)
print (answer3) 
print (answer4)

It is a new car! Too expensive!!
It is a new car! It is a good deal!
It is a used car. It can give you headaches!
It is a used car. It is a good deal!

####Video
https://youtu.be/9FSnIrQFlv0

##추가 연습 

* 스트링과 숫자를 합하는 연습을 간단히 해봅니다.
* 아래 코드와 설명을 보고 이해를 한 번 해봅니다.


        # 우리 강아지 이름은 코코예요
        my_dog_name = ‘Coco’ 	
        
        #코코는 한 주에 4번 산책해요
        walk_per_week = 4   	
        
        # 한 번 산책 할 때 마다 5곳에 들려요
        point_visit = 5  				
        
        # 총 들려야 하는 곳은 130 곳이예요
        points_to_visit = 130  		
        
        # 몇 주 걸릴 것인가?
        weeks_to_take = float(points_to_visit) / (walk_per_week * point_visit )

In [26]:
my_dog_name = "Coco"
walk_per_week = 4
point_visit = 5
points_to_visit = 130
weeks_to_take = float(points_to_visit) / (walk_per_week * point_visit )
statement = my_dog_name + " needs " + str(weeks_to_take) + " weeks to visit those " + str(points_to_visit) + " places."
print (statement)

Coco needs 6.5 weeks to visit those 130 places.

####Extra Practice

(1) 위의 과제와 유사한 것을 하나 더 해봅니다.
* "홍길동" 학생이 늑대가 나타났다/도망가라 를 이야기 한다면 그냥 이어서 쓰면 되만 프로그램을 만들 때 재난의 종류가
* 
(1) 늑대가 나타났다 (2) 화재가 발생했다 두 종류라면?

그리고 그에 따라 대응도 각 두 종류라면 

(1) 늑대 잡아라 / 도망가라 (2) 불을 끄라/ 도망가라

이를 만들어 봅니다

*아래 연습에서 우리는

"Here comes a wolf"  "Catch him!" "Run!"

"Fire!" "Quench it!" "Run" 을 가지고 4개의 재난 안내 방송 문장을 만들어 보겠습니다.

In [0]:
situation1 = 'Here comes a wolf.'
situation2 = "Fire!"
measure1 = 'Catch him!'
measure2 = "Run!"
measure3 = "Quench it!"
broadcast1 = situation1 + measure1
broadcast2 = situation1 + measure2
broadcast3 = situation2 + measure3
broadcast4 = situation2 + measure2
print (broadcast1)
print (broadcast2)
print (broadcast3) 
print (broadcast4)

(2)  위와 비슷하게
* 공부해야 할 책은 200페이지인데
* 하루 공부량은 15페이지일 때 
* 다 공부하는데 며칠이 걸릴지를 프린트하게 해봅니다.

In [27]:
my_book_page = 200
study_per_day = 15
days_to_take = (my_book_page) / (study_per_day )
statement = "It takes " + str((days_to_take)) + " days to finish studying my book" 
print (statement)

It takes 13.333333333333334 days to finish studying my book

#TASK 10    -    Updating Variables


##학습 내용
* 변수는 업데이트하여 변경할 수 있습니다. 
* 마지막으로 대입되는 것이 최종 값이 됩니다.


##문법

        x = 1
        x = x + 1 
        print (x)  # x = 2로 갱신된다.

 
##설명
* 변수는 업데이트하여 변경할 수 있습니다.
* 예를 들어 x = 1이라 정의하였는데 아래에 x = x + 1이라 재 정의하면 x는 2가 됩니다.
* 이와 같이 프로그램에서는 가장 아래 것 (또는 가장 최신 것)이 값을 갱신합니다.
* 마찬가지로 기름통에 10리터가 있는데
* 변수 = 남은 기름 양으로 한다면
* 쓸 때 마다 그 값은 줄어드는 것이 계속 업데이트 되어져야 할 것입니다.
* 변수는 숫자형 변수였다가 스트링형 변수로도 변할 수 있습니다.

## 연습


* 변수 gas_tank에 10의 값을 대입합니다. (가스 통에 10리터 있다고 가정)
* remaining gasoline(사용 후 남은 양)을 인쇄합니다.
* 변수 gas_used (사용된 휘발유)에 5를 대입합니다.
* 변수 gas_tank에서 gas_used를 빼면 탱크에 남아있는 휘발유 값이 나오겠죠.
* 남은 양을 인쇄합니다.



##주의
* 갱신된다는 것은 변수의 값이 바뀐다는 것을 의미합니다. 



##코딩 부분

In [28]:
gas_tank = 10

print ( "remaining gasoline" )

gas_used = 5

gas_tank = gas_tank - gas_used

print (gas_tank)

remaining gasoline
5

####Video
https://youtu.be/iWkgc3PMfpg

##추가 연습 

* 변수가 숫자였다가 스트링으로 업데이트 될 수도 있습니다.
* 변수에 숫자 값을 줍니다.
* 그리고 이를 프린트 합니다.
* 같은 변수 이름에 스트링 값을 줍니다.
* 이를 프린트 해 봅니다.

In [29]:
my_var = 1
print (my_var)
my_var = "Hello"
print (my_var)

1
Hello

####Extra Practice

(1) 다음을 더해 봅니다.
* sum = 0이라고 하고
* x = 1
* sum = sum + x로 업데이트 합니다.
* 다시 그 아래는  x = x + 1이라고 업데이트를 하고 
* sum과 x를  그런 식으로 하고 x=10이 될 때까지 해봅니다.   
* 이는 추후 loop를 이해하는데 도움이 될 것입니다.

In [0]:
sum = 0
x= 1

sum = sum+x
x= x+1

sum = sum + x
x= x + 1

sum = sum+x
x= x + 1

sum = sum+x
x= x+1

sum = sum+x
x= x+1

sum = sum + x
x= x + 1

sum = sum+x
x= x+1

sum = sum+x
x= x+1

sum = sum + x
x= x + 1

sum = sum + x
x= x + 1

print (sum)

(2)     위와 비슷하게
* variable을 숫자로 주고 프린트를 해보고
* 다시 이를 string으로 업데이트 해보고 프린트해보고
* 이어서 True의 값을 주고 업데이트하고 프린트 해보세요.

In [30]:
a = 3
print (a)
a = "Hello"
print (a)
a = True
print (a)

3
Hello
True

(3) 

        a = 1, b = 2 일 때 
        a = b = 3 이란 라인을 입력하여
        a, b 모두 프린트 해보세요.

In [31]:
a = 1
b = 2
a = b = 3 
print (a)
print (b)

3
3

#TASK 11      - String Format


##학습 내용
* string과 number를 섞어서 출력할 때 우리는 숫자를 스트링화 시켜서 문장을 만들었습니다. 
* 이제 이를 삽입하여 쓸 수 있는 format 법을 배웁니다.


##문법
* 문장에 {}를 넣고 인수의 위치를 지정해준 후 .format()에 데이터를 넣습니다.

        print  ("I am {0}, and I love {1} ".format (" Peter "," BMW")
        #  I am Peter, and I love BMW


 
##설명
* Python 3.x 버전에서는 string 메소드 format() 을 사용합니다.
* {0}, {1}, {2}, {3}과 같은 인수의 위치를 제공합니다.
* 연습을 하다 보면 Python 2.x 버전에서 유사하게 사용한 것을 보실 수 있는데, 이는 추가 연습에서 다시 한 번 보시겠습니다. 


## 연습


* 아래와 같이 자신의 이름을 넣고 연습해 봅니다.


        name = '홍길동'
        age  = 23 
        
        print ("제 이름은  {} 입니다.".format(name))
        print ("저는  {}세 입니다.".format(age))


##주의
* 위의 경우는 {}이 한 개이나 여러 개의 경우 중괄호 {} 안에 0,1 등으로 정해줘야 합니다.




##코딩 부분

In [32]:
name = "홍길동"
age  = 23 

print ("제 이름은  {} 입니다.".format(name))
print ("저는  {}세 입니다." .format(age))

제 이름은  홍길동 입니다.
저는  23세 입니다.

####Video
https://youtu.be/wcQcfZkGFAE

##추가 연습 

* Python 2.x 버전 문법으로 위의 연습을 다시 해봅니다.
* %s 는 string 변수를 대체합니다.
* %d 는 integer 변수를 대체합니다.
* 위와 같은 샘플을 Python 2 문법으로  해볼 수 있으나 이는 Python 2 노트를 펴야 하므로 생략하겠습니다.
아래 내용만 참조 하세요.

    	name = "홍길동"
    	age = 23 
    	print ( "제 이름은  %s 입니다."  % (name))
    	print ( "저는  %d 세 입니다." % (age))



* 이어서 Python 3.x 버전 문법으로 1개의 {} 가 아닌 2개인 것으로 해봅니다.


        print('I want {0} or {1}'.format('BMW', 'Mercedes'))
        print('I want {1} or {0}'.format('BMW', 'Mercedes'))

In [33]:
print('I want {0} or {1}'.format('BMW', 'Mercedes'))
print('I want {1} or {0}'.format('BMW', 'Mercedes'))

I want BMW or Mercedes
I want Mercedes or BMW

####Extra Practice

(1) 파이썬 2.X 버전으로 아래 문장을 출력하는 것을 한번 해 보세요

        place_1 = “party” 
        place_2 = “library”
        “We should not have come to this %s, and we are supposed to be at the %s.” %(place_1, place_2) 방식으로 합니다.

* Python 2 노트북으로 바꾸어 연습해 보세요.

      place_1 = "party"
      place_2 = "library"
      print "We should not have come to this %s, and we are supposed to be at the %s." %(place_1, place_2)

(2) 인자가 3개 들어가는 것으로 해봅니다.

In [34]:
print('My name is {0} and I am a {1} year old {2}'.format('Joshua', 55, 'teacher'))

My name is Joshua and I am a 55 year old teacher

#  TASK 12    -    If문과 Else문



##학습 내용
* if 문은 조건이 옳다면 다음에 오는 들여 쓰기 한 코드에 따라 무언가를 하라고 지정하는 것입니다.
* else문 if 조건이 일치하지 않을 때 다른 작업을 수행하라고 하는 문법입니다.


##문법

* if - else의 문법은 if문과 그에 종속된 body 그리고 else문과 그에 종속된 body로 구속되어 있다.

        if condition:
            body
        else:
            body


 
##설명
* if 문은 조건이 옳다면 다음에 오는 들여 쓰기 한 코드에 따라 무언가를 하라고 지정하는 것입니다.
* else문은 if 조건이 일치하지 않을 때 다른 작업을 수행하라고 하는 문법입니다.
* 예를 들어 자동차가 일정속도 이상을 달릴 경우(if) 경고를 주고
* 아닌 경우 (else) 속도를 내라고 하는 명령을 프린트 할 수 있겠습니다.
* 또는 그 반대나 다른 조건들을 만들 수도 있습니다.

## 연습

    "How fast are you going?"의 질문을 프린트 합니다.
            (깜빡) --> 속도 입력
    속도가 50 이하인 경우 
            "Go faster."를 프린트하고
    아닌 경우 
            "Slow down."을 프린트 합니다.



##주의
* else문을 없앨 경우, else문이 없다고 if문이 프린트가 안되는 것은 아니나 그 경우 자기 조건에 맞지 않는 것은 프린트를 못 합니다.



##코딩 부분

In [0]:
my_speed = input("How fast are you going?")
int_speed = int(my_speed)

if int_speed <= 50:
   print ("Go faster")

else:
  print ("Slow down.")

####Video
https://youtu.be/yyOtXzhtzEs

##추가 연습 

* 운전을 하는데
            앞에 신호등에 빨간 불이면  1을 입력 
                     "Stop the car."를 프린트하고
            아닌 경우 2를 입력
                     "Go forward."을 프린트 합니다.

In [35]:
print ("If the traffic light is red, enter 1. if the traffic light is blue or yellow, enter 2.")
t_code = int(input())

if t_code == 1:
  print ("Stop the car.")
else :
    print ("Go forward.")

If the traffic light is red, enter 1. if the traffic light is blue or yellow, enter 2.
2
Go forward.

####Extra Practice

(1) 쇼핑을 갔는데 
            티셔츠가 3000원과 같거나 작으면 
                     "I can buy 2."를 프린트하고
            아닌 경우 
                     "Next time."을 프린트 합니다.

In [36]:
print ("How much is the T-shirt?")
t_price = input()
my_price = int(t_price)

if my_price  <= 3000:
  print ("I can buy 2.")
else :
    print ("Next time.")

How much is the T-shirt?
2000
I can buy 2.

(2)
* 똑똑한 자동 판매기가 있다고 가정 해 봅시다.
* 기계가 “온도가 얼마입니까?”라고 물으면 온도를 입력합니다.
* 냉수가 병 당 500원으로 설정되어 있고 실내 온도가 30도 이상인 경우 냉수 가격은 600원이 된다고 가정을 합시다.

        온도가 30보다 크면
        냉수는 병 당 600원 입니다.
        아닌 경우 병당 500원 입니다.

In [37]:
print ("What's the current temperature in C?")
temp = input()

temperature = int(temp)

if temperature > 30:
  print ("A bottle of cold water is 600 won.")
  
else :
    print ("A bottle of cold water is 500 won.")

What's the current temperature in C?
25
A bottle of cold water is 500 won.

#TASK 13    -    If문, Elif문 & Else문


##학습 내용
* if–else가 이 것 아니면 나머지 경우라면 if-elif-else는 다양한 옵션을 줍니다.  
* elif은 여러 개가 가능하므로 다양한 조건을 표현할 수 있습니다.



##문법

* if문 - elif문 - else문은 아래와 같은 구조를 가집니다.

            if condition:
                body
            elif condition:
                body
            else
                body


 
##설명
* 앞 과에서 if-else 를 연습하였습니다.
* 이 과에서는 같은 예제들을 if –elif—else로 해보겠습니다.
* 신호등을 보고 운전하고 있다고 가정 해 보겠습니다.
    
    	if 푸른색:
       		print ("지나가세요")
    	elif 빨간색:
       		print ("정지하세요.")
    	else:
      		print ("서행하세요.")

 

## 연습
* 앞 과에서 한 연습을 살짝 바꾸어 봅니다.

      "How fast are you going?"의 질문을 프린트 합니다.
      (깜빡) --> 속도 입력
      속도가 50 이하인 경우   "You can go faster."를 프린트하고
      속도가 80이상인 경우 "Slow down."을 프린트 합니다.
      둘 다 아닌 경우 (50초과 80미만)는 "Okay"를 프린트합니다.


##주의
* elif은 하나 이상, 여러 개 사용이 가능 합니다.



##코딩 부분

In [0]:
my_speed = input("How fast are you going?")
int_speed = int(my_speed)

if int_speed <= 50:
   print ("Go faster")
elif int_speed >= 80:
   print ("Slow down.")
else:
  print ("Okay.")

####Video
https://youtu.be/I-5mwrKnJ0I

##추가 연습 

* 앞 과에서는 신호등이 빨간 색이면 멈추고 아니면 간다는 연습을 했는데 이번엔 빨간색이면 멈추고, 노란색이면 속도를 줄이고, 아니면 (녹색) 앞으로 간다를 해보겠습니다.

In [38]:
print ("If the traffic light is red, enter 1, if the traffic light is yellow, enter 2, and if the traffic light is green, enter 3.")
t_code = int(input())

if t_code == 1:
  print ("Stop the car.")
elif t_code == 2:
  print ("Slow down.")
else :
    print ("Go forward.")

If the traffic light is red, enter 1, if the traffic light is yellow, enter 2, and if the traffic light is green, enter 3.
2
Slow down.


####Extra Practice

(1) 쇼핑을 갔는데 

            티셔츠가 3000원과 같거나 작으면 
                    "I can buy 2."를 프린트하고
            티셔츠가 5000원보다 크면 
                     "Next time."을 프린트하고
            아닌 경우 (3000초과 5000이하)
                     "Let me have one."을 프린트 합니다.

In [39]:
print ("How much is the T-shirt?")
t_price = input()
my_price = int(t_price)

if my_price  <= 3000:
  print ("I can buy 2.")
elif my_price > 5000:
    print ("Next time.")
else:
    print ("Let me have one.")

How much is the T-shirt?
1000
I can buy 2.

(2) 위에 설명에서 나온 내용처럼 신호등을 보고 운전하고 있다고 가정 해 보겠습니다.
    
    	if 푸른색:
       		print ("지나가세요.")
    	elif 빨간색:
       		print ("정지하세요.")
    	else:
      		print ("서행하세요.")

파란색, 빨간색, 노란색을 넣어서 해봅니다.

In [40]:
traffic_light = "green"

if traffic_light  == "green": 
  print ("지나가세요.")
elif traffic_light  == "red": 
    print ("정지하세요.")
else:
    print ("서행하세요.")

지나가세요.

#  TASK 14       -      List 



##학습 내용
* 리스트는 대괄호 ‘[ ]’로 표현되며 데이터를 하나의 변수로 관리할 때 사용됩니다. 
* 변경 가능하고, 중복도 가능하여 일반적인 목록으로 사용된다.  


##문법
* 리스트는 아래와 같은 구조를 가집니다.

         my_list = [1, 2, 3, "a", "b", "c"]

 
##설명
* "list" 는 말 그대로 목록입니다.
* 집합과 비슷한데 연속적으로 놓여있는 리스트의 아이템들을 포함합니다.
* 대괄호 [Square Bracket]로 표현되며 데이터를 하나의 변수로 관리할 때 사용됩니다.
* 리스트는 또한 다른 리스트를 자신의 아이템으로 가질 수 있습니다.

  즉 리스트 안에 리스트가 올 수 있다는 것입니다.

* 리스트의 아이템은 교체가 가능하여 교체가 안 되는 tupple과 비교되며, 아이템 중복이 가능하여 중복이 안 되는 set과 구별됩니다. 
 

## 연습
* 1,2,3 의 단순한 숫자를 아이템으로 하는 리스트를 만들어 봅니다.

        my_list1 = [1, 2, 3] 


* 그리고 string으로 된 아이템들을 만들어 봅니다.

        my_list2 = ["KIA", "Chevrolet", "Ford"]

* 이 들을 프린트 해 봅니다.


##주의
* 리스트는 리스트 안에 숫자, 문자를 같이 넣을 수 있고 다른 리스트를 넣을 수 있습니다.



##코딩 부분

In [41]:
my_list1 = [1, 2, 3]
my_list2 = ["KIA", "Chevrolet", "Ford"]
print (my_list1)
print (my_list2)

[1, 2, 3]
['KIA', 'Chevrolet', 'Ford']

####Video
[video](https://youtu.be/DjqoQH4vLlg)

##추가 연습 

        my_list3 = [1, 2, 3, ["KIA", "Chevrolet", "Ford"]]


* 이번에는 1,2,3에 이어서 4번째 아이템을 string으로 된 리스트를 아이템으로 둔 리스트를 봅니다.
* 이 경우 리스트는 아이템을 4개로 표현할 지 6개로 표현할지 len()으로 검사 해봅니다.
* 4번째 요소가 리스트로 표현될까? 한 번 살펴봅니다.

In [42]:
my_list3 = [1, 2, 3, ["KIA", "Chevrolet", "Ford"] ]
print (len(my_list3))
print (my_list3[0])
print (my_list3[3])

4
1
['KIA', 'Chevrolet', 'Ford']

####Extra Practice

(1)   

        my_list = [1,2,3,4,5]
        print my_list[0:2] #첫째부터 셋째 이전까지 출력 (즉 [1] [2] 위치 출력)
        print my_list[1:] # 둘째부터 끝까지 출력 (즉, [1] 위치부터 출력) 
        # 이를 응용하여, 잘라서 어디까지 만들 수 있나 봅니다.

In [43]:
my_list = [1,2,3,4,5]
print (my_list[0:2]) #첫째부터 3째 이전까 출력
print (my_list[1:]) # 둘째부터 끝까지 출력

[1, 2]
[2, 3, 4, 5]

(2)  

        my_list = [1,2,3,4,5]
        my_list[1] = 6
        print my_list
        #여기서 둘째 위치가 6으로 바뀌는지 확인해 봅니다.

In [44]:
my_list = [1,2,3,4,5]
my_list[1] = 6
print (my_list)

[1, 6, 3, 4, 5]

(3)  


        # 리스트를 더해 봅니다.
        my_list1 = [1,2,3,4,5]  
        my_list2 = [6,7,8,9]
        my_list = my_list1 + my_list2
        print my_list

In [45]:
my_list1 = [1,2,3,4,5]
my_list2 = [6,7,8,9]
my_list = my_list1 + my_list2
print (my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

(4) 곱해 봅니다.

In [46]:
my_list1 = [1,2,3,4,5]
my_list = my_list1 *2
print (my_list)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#TASK 15     -   List Methods 


##학습 내용
* 리스트의 메소드 중 append(), count(), index(), insert(), pop()에  대해서 학습해 봅니다.

##문법
* 아래와 같은 메소드를 공부해 봅니다.

        listname.append(item)  
        listname.count(item)
        listname.index(item)
        listname.insert(위치, item)
        listname.pop(위치)


 
##설명
* list.append()     # 리스트에 아이템을 추가한다. append를 하면 추가된 아이템이 끝에 추가된다.
* list.count()      # 특정 아이템이 몇 개가 있는지를 알려준다.
* list.index()      # 특정 아이템이 어느 위치에 있는지 알려준다.
* list.insert()     # 리스트에 아이템을 넣어준다. insert를 3번째 위치에 했다면 insert된 아이템은 그 위치에 들어가고 본래 그 위치에 있던 아이템 및 그 뒤 아이템들은 뒤로 밀린다.
* list.pop()        # 리스트의 특정 아이템을 보여주고 사라지게 한다.


## 연습
* 빈 리스트 my_list4를 만들어 봅니다.
* 여기에 ＂Ford’ 를 append로 넣어 봅니다.
* ‘Ford’ 가 리스트에 몇 개가 있는지 확인합니다.
* ‘Ford’가 어디에 있는지 확인합니다.
* 이어서 ＂BMW’를 리스트에 넣어 봅니다.
* pop method를 사용하여 제일 앞에 있는 값이 보여지게 합니다.
* 이어서 insert를 사용하여 ＂Chevrolet’ 을 두 번째 위치에 넣어봅니다.
* my_list4를 출력해봅니다.



##주의
pop()을 사용하면 해당 아이템이 보여진 후 리스트내에서 삭제되므로 주의해야 합니다.




##코딩 부분

In [0]:
my_list4 = []
my_list4.append("Ford")
print (my_list4)
print (my_list4.count("Ford"))
print (my_list4.index("Ford"))
my_list4.append("BMW")
print (my_list4)

print (my_list4.pop(0))
my_list4.insert(1,"Chevrolet")
print (my_list4)

####Video
[video](https://youtu.be/tTwRskJCoDs)
##결과 콘솔

        ["Ford"]            # 이를 통해서 빈 리스트에＂Ford’가 추가 되었음을 확인함 
        1                   # 그래서 아이템이 한 개 임을 확인함
        0                   # 이는 ＂ Ford’가 첫 위치에 있음을 확인함
        ["Ford", "BMW"]     # 이는 ＂BMW’가 추가 되었음을 확인함
        Ford                # 첫 아이템이 ＂Ford’ 나타나게 함
        ["BMW", "Chevrolet"]# 이는 위에서 ＂Ford’가 pop 한 다음에 사라지고
                            1의 위치 (2번째 위치에) 'Chevrolet'이 추가되고
                            BMW는 두 번째 위치에서 ＂Ford’가 사라진 후 
                            첫 위치로 갔음을 알게 해 준다.

##추가 연습 

* 빈 리스트를 만들어서 lion을 요소에 더합니다.
* 또 하나의 빈리스트를 만들어서 tiger를 요소에 더합니다.
* 여기서 두 리스트를 합하여 본래 lion만 있던 리스트 이름으로 정의합니다. 
* 합한 리스트에 중간에 snake를 삽입해 봅니다.

In [47]:
my_list5 = []
my_list5.append("lion")
print (my_list5)
my_list6 = []
my_list6.append("tiger")
print (my_list6)
my_list5 = my_list5 + my_list6
print (my_list5)
my_list5.insert(1,"snake")
print (my_list5)

['lion']
['tiger']
['lion', 'tiger']
['lion', 'snake', 'tiger']

####Extra Practice

(1) append

In [51]:
list1 = [1,2,3,4]
list1.append("lion")
print (list1)

[1, 2, 3, 4, 'lion']

(2)  count

In [52]:
list2 = [1,2,3,4,1,2,3,4]
print (list2.count(2))

2

(3)  index

In [53]:

list3 = [4,5,6,7,8,9]
print (list3.index(7))

3

(4) insert

In [54]:
list4 = [9,8,7,6,5,4]
list4.insert(3, 100)
print (list4)

[9, 8, 7, 100, 6, 5, 4]

(5)  pop

In [56]:
list5 = [3,4,5,6]
list5.pop(1)
print (list5)

[3, 5, 6]

#TASK 16       -   Dictionary 



##학습 내용
* "list"가 하나의 variable로 관리되는 목록이라면 "dictionary" 는 사전이나 명함에 좀 더 가깝다고 보면 되겠습니다. Dictionary는 대괄호{ } 로 표현됩니다. 

##문법
* 딕쇼너리는 아래와 같은 구조를 가집니다.

         mydict = {key: value, key: value, key; value}


 
##설명
* 아래의 예를 보면 이름, 전화번호, 회사명이 나와 있습니다. 이러한 것을 관리하는 목록이라 생각하면 됩니다. 

        Name : Joshua
        Phone : 55512345678
        Company: ai2learn

* 여기서 "Name" 은 Key라 부르고 "Joshua" 는 value라 부릅니다.
* 항목과 그에 대한 값이 있는 형태입니다.


## 연습
* bizcard란 이름의 빈 dictionary를 만들어 보겠습니다. 

        bizcard = {}


* 그리고 아래와 같은 요소들을 넣어 봅니다.

        bizcard['name'] = 'Joshua'
        bizcard['phone'] = '55512345678'
        bizcard['company'] = 'ai2learn'

*이어서 bizcard를 출력하고 한 요소인 phone 만 출력합니다.



##주의
* Dictionary도 key나 value의 변동은 허용하나 key의 겹침은 허용 안됨




##코딩 부분

In [57]:
bizcard = {}
bizcard["name"] = "Joshua"
bizcard["phone"] = "55512345678"
bizcard["company"] = "ai2learn"

print (bizcard)
print (bizcard["phone"])

{'name': 'Joshua', 'phone': '55512345678', 'company': 'ai2learn'}
55512345678

##추가 연습 

* 다른 이름을 key와 value를 넣어서 한 번 더 해봅니다.

        이름 : Ironman
        전화번호:  01012345678   
        회사명 : Shields

* 이제 해당 딕쇼너리에서 전화 번호를 찾아내 봅니다.

In [58]:
bizcard = {}
bizcard['이름'] = 'Ironman'
bizcard['전화번호'] = '012345678'
bizcard['회사명'] = 'shields'

print (bizcard)
print (bizcard['전화번호'])

{'이름': 'Ironman', '전화번호': '012345678', '회사명': 'shields'}
012345678


####Extra Practice

(1) 위의 첫 예제에서 

phone이외에 name, company를 찾는 연습을 해보자

In [59]:
bizcard = {}
bizcard["name"] = "Joshua"
bizcard["phone"] = "55512345678"
bizcard["company"] = "ai2learn"

print (bizcard)
print (bizcard["phone"])
print (bizcard["name"])
print (bizcard["company"])

{'name': 'Joshua', 'phone': '55512345678', 'company': 'ai2learn'}
55512345678
Joshua
ai2learn

(2)   위와 비슷하게
* 자기 소속 학교나 직장에 해당되는 것을 입력하여 
* 어떻게 나오는지 봅니다.

      bizcard = {}
      bizcard['이름'] = '홍길동'
      bizcard['전화번호'] = '012345678'
      bizcard['회사명'] = '산채'

      print (bizcard)
      print (bizcard['이름'])
      print (bizcard['회사명'])
      print (bizcard['전화번호'])

In [60]:
bizcard = {}
bizcard['이름'] = '홍길동'
bizcard['전화번호'] = '012345678'
bizcard['회사명'] = '산채'

print (bizcard)
print (bizcard['이름'])
print (bizcard['회사명'])
print (bizcard['전화번호'])

{'이름': '홍길동', '전화번호': '012345678', '회사명': '산채'}
홍길동
산채
012345678

#TASK 17     -   Dictionary Methods


##학습 내용
* Dictionary의 메소드 중 items(), keys(), values()에  대해서 학습해 봅니다.

##문법
* 다음과 같은 메소드를 공부해 봅니다.

	    dictionaryname.items() 
	    dictionaryname.keys() 
	    dictionaryname.values() 


 
##설명
*   bizcard.items()         # 이 메써드는 dictionary 아이템들을 list 형식으로 변환해 준다.
*   bizcard.keys()          # 이 메써드는 dictionary의 key를  list 형식으로 변환해 준다.
*   bizcard.values()    # 이 메써드는 dictionary의 value를  list 형식으로 변환해 준다.


## 연습
* 배운 것을 아래 key와 value로 연습해봅니다
* 
        model : "Camaro"
        maker : "Chevrolet"
        year: "2020"


* item을 프린트 합니다.
* key를 프린트 합니다.
* value를 프린트 합니다.



##주의
* Key와 value값에서 스트링에 따옴표를 하는 것을 잊지 마세요.



##코딩 부분

In [1]:
mydict = { 'model' : 'Camaro', 'maker': 'Chevrolet', 'year': 2020}

print (mydict.items())
print (mydict.keys()) 
print (mydict.values())

dict_items([('model', 'Camaro'), ('maker', 'Chevrolet'), ('year', 2020)])
dict_keys(['model', 'maker', 'year'])
dict_values(['Camaro', 'Chevrolet', 2020])

####Video
[video](https://youtu.be/YsxduLxv12c)

##추가 연습 

* 추가적으로 다음과 같은 메소드들이 있습니다 

        clear()     # dictionary의 모든 요소들을 없앤다.
        copy()      # dictionary의 복제된 값을 반환한다
        get()       # 특정 key의 value값을 반환한다

* 본 연습의 예를 보고 다음을 해봅니다. 


        mydict = { 'model' : 'Camaro', 'maker': 'Chevrolet', 'year': 2020}
        newdict = mydict.copy()  
        print (newdict)
        print (mydict.get('model'))
        print (mydict.clear())

In [2]:
mydict = { 'model' : 'Camaro', 'maker': 'Chevrolet', 'year': 2020}
newdict = mydict.copy()  
print (newdict)
print (mydict.get('model'))
print (mydict.clear())

{'model': 'Camaro', 'maker': 'Chevrolet', 'year': 2020}
Camaro
None

#### Extra Practice

(1) 위의 예를

학교: 한국대학

학과: 컴퓨터공학과

이름: 홍길동 

으로 만들어 연습해 봅니다.

In [3]:
mydict = { 'college' : 'Hankook', 'major': 'Computer Scinece', 'name': 'Hong'}
newdict = mydict.copy()  
print (newdict)
print (mydict.get('major'))
print (mydict.clear())

{'college': 'Hankook', 'major': 'Computer Scinece', 'name': 'Hong'}
Computer Scinece
None

(2) items

In [5]:
dict1 = {'a':1, 'b':2, 'c':3}
print (dict1.items())

dict_items([('a', 1), ('b', 2), ('c', 3)])

(3)  keys

In [6]:
dict1 = {'a':1, 'b':2, 'c':3}
print (dict1.keys())

dict_keys(['a', 'b', 'c'])

(4) values

In [7]:
dict1 = {'a':1, 'b':2, 'c':3}
print (dict1.values())

dict_values([1, 2, 3])

(5) clear

In [8]:
dict1 = {'a':1, 'b':2, 'c':3}
print (dict1.clear())
print (dict1)

None
{}

(6) copy

In [9]:
dict1 = {'a':1, 'b':2, 'c':3}
dict2 = dict1.copy()
print (dict2)

{'a': 1, 'b': 2, 'c': 3}

(7) get

In [10]:
dict1 = {'a':1, 'b':2, 'c':3}
print (dict1.get('b'))

2

#TASK 18       -     Tupple


##학습 내용
* tupple이란 변경되지 않은 데이터의 집합으로 변경되지 못 한다는 특성 때문에 메소드가 별로 없습니다. tupple은 소괄호 ( )로 표현됩니다. 


##문법
* 튜플은 아래와 같은 형태를 가집니다.

         mytupple = (item1, item2, item 3)


 
##설명
* 그럼 왜 tupple을 사용할까요? 다음과 같은 이유 때문입니다.
* tupple은 저장 공간을 적게 쓴다.
* tupple은 우리가 우연하게 또는 실수로 데이터를 바꾸어서는 안 되는 곳에서 사용된다.
* 더하여 합할 수 있고 곱하여 반복이 가능하다. 

        a = ('Chevrolet', 'KIA', 'Mercedes’)  
        b = ('BMW’, 'Ford’)
        c = a + b  	    #  ('Chevrolet’, 'KIA’, 'Mercedes’, 'BMW’, 'Ford’)
        d = b * 2   	   #  d = ('BMW’, 'Ford’, ’BMW’, 'Ford’)


## 연습

* a = (1,2,3,4,5) 이고 b = (6,7,8,9) 이라고 할 때

  a+b를 하여 합해 c로 놓습니다.

  이어서 곱하기를 사용하여 ＂a’ 를 3번 반복해 d를 만들어봅니다.

  이를 각각 프린트 해봅니다.

* 이어서 Tupple의 아이템을 교체할 수 없다는 것을 확인해봅니다.

      b[0] = 10을 해서 교체하려고 하면 에러가 발생합니다.
       (물론 튜플에는 이런 메소드가 없습니다.)


##주의
* 튜플에 원소가 하나인 경우 integer로 오인할 수 있어 (5,) 식으로 표기함
 



##코딩 부분

In [11]:
a = (1,2,3,4,5)
b = (6,7,8,9)

c = a+b
print (c)

d = a*3
print (d)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

위에서 아래와 같은 것을 하면 에러가 발생/ 교체가 안 되기 때문
b[0] = 10    # 에러가 발생

####Video
[video](https://youtu.be/ddig8jlcXx0)

##추가 연습 

* 인덱싱 및 자르기를 해봅니다. 

  	    a = (‘Chevrolet’, ‘KIA’, ‘Mercedes’)  
  	    a0 = a[0] 	# 0의 위치에 ‘Chevrolet’ 이 있음을 알게 합니다.
  	    a1 = a[1:2]   # 1 위치 전에 자르고 2(즉 3번째) 이전에 자른다. 
  	    a2 =a[:2] 	# 이는 2 (즉 3번째 위치) 이후 것은 모두 자른다.

* 다음과 같은 method도 있습니다.

        count()    # tupple에서 특정 value가 몇 번이나 나오는지 반환합니다. 
        index()    # tupple에서 특정 value가 어디에 있는지를 반환한다

* 이를 연습해봅니다.

In [13]:
a = ('Chevrolet', 'KIA', 'Mercedes')  
print (a[0]) 
print (a[1:2]) 
print (a[:2]) 
print (a.count('KIA'))
print (a.index('Mercedes'))

Chevrolet
('KIA',)
('Chevrolet', 'KIA')
1
2

##결과 콘솔

        Chevrolet                 # 0의 위치에 무엇이 있나 확인
        ('KIA',)                      # 1위치 전에 자르고 2위치부터 자르면 1만 남음 
        ('Chevrolet', 'KIA')      # 2위치 이후 것은 자른다
        1                              # KIA가 1번 나옴을 확인
        2                              # Mercedes의 위치 확인

####Extra Practice

(1) 튜플을 두 개 합해보고 곱해 봅니다.

	a = ('Chevrolet', 'KIA', 'Mercedes')

   	b = ('Ssangyong', 'SM', 'Hyundai')

	a와 b를 합해보고 a*2를 해봅니다.

  아래는 에러가 나게 됩니다.

In [14]:
a = ('Chevrolet', 'KIA', 'Mercedes')
b = ('Ssangyong', 'SM', 'Hyundai')

c = a+b 
d = a*2
e = a*b  # string * string?

print (c)
print (d)
print (e)

TypeError: ignored


(2)  

a = (1,2,3,4,5,5,6,6)에서

a에서 5가 몇 번 나오나 count 해봅니다.

a에서 6이 어디 나오나 index 해봅니다.

In [15]:
a = (1,2,3,4,5,5,6,6)
print (a.count(5))
print (a.index(6))

2
6

(3)  

a = (1,2,3,4,5,5,6,6)에서

3위치 전에 자르고 5위치 후에 잘라 봅니다.

이어서 4위치 이후 것을 모두 잘라 봅니다.

In [16]:
a = (1,2,3,4,5,5,6,6)
b = a[3:5]
c = a[:4]

print(b)
print (c)

(4, 5)
(1, 2, 3, 4)

#TASK 19 – Set


##학습 내용
* Set은 dictionary처럼 { }으로 표현됩니다. set 은 아이템을 변경할 수 있으나 반복되는 아이템이 있으면 버립니다.


##문법

* Set 은 다음과 같은 형태를 취합니다.

         myset = { 아이템1, 아이템2, 아이템3, 아이템4}


 
##설명
* 예를 들어 리스트에서 아래와 같이 ‘John’ 이 반복되어도 상관 없으나

        mylist = [‘John’, ‘Tom, ‘John’, ‘Josh’, ‘Peter’]

* 이를 set 으로 바꾸면 반복되는 ‘John’ 이 사라지고 				

        {‘John’, ‘Tom, ‘Josh’, ‘Peter’} 만 남게 됩니다.


        myset = set(mylist) 
        # {‘John’, ‘Tom,  ‘Josh’, ‘Peter’}

* Set 은 수학의 집합처럼, a, b 가 set 이라면 합집합 교집합 및 여집합을 만들 수도 있습니다.  

        c = a.intersection(b)   	# c = a & b 교집합
        d = a.union(b)              # d = a | b 합집합
        e = a.difference(b) 		# e = a - b  여집합

## 연습

* 아래와 같이 두 set 이 있을 때

        a = {1,2,3,4,5} 
        b = {5,6,7,8,9}

* 다음 set을 만들어서 프린트 해봅니다.

        c = a.intersection(b)   	# c = a & b 교집합
        d = a.union(b)              # d = a | b 합집합
        e = a.difference(b) 		# e = a - b  여집합



##주의
* Set 은 중복이 안되기 때문에 겹쳐지는 아이템이 없어짐을 주목합니다.



##코딩 부분

In [0]:
a = {1,2,3,4,5} 
b = {5,6,7,8,9}
c = a.intersection(b)   
d = a.union(b)
e = a.difference(b) 

print (c)
print (d)
print (e)

####Video
[video](https://youtu.be/qLYqHN6sLAk)

    
##추가 연습 

* 메소드 ‘add’ 는 아이템 ‘하나’ 를 더 하게 해줍니다.


        set이름.add(아이템)


* 메소드 ‘update’ 는 ‘여러’ 개의 아이템을 더하게 해줍니다.


        set이름.update(아이템1, 아이템2)


* 메소드 ‘remove’ 는 하나를 제거 해줍니다.


        set이름.add(아이템)

* Set a 에게 아이템 {1,2,3,4,5} 을 주고 
  	
6 을 add 하고

7,8 을 update 하고

5를 remove 하며 각 과정마다 a 를 프린트하여 확인해 봅니다.

In [17]:
a = {1,2,3,4,5} 

a.add(6)
print (a)

a.update({7,8})
print (a)

a.remove(5)
print (a)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 6, 7, 8}

####Extra Practice

(1) Set 두 개를 리스트처럼 합해보고 곱해 봅니다.

        a = {'Chevrolet', 'KIA', 'Mercedes'}
        b = {'Ssangyong', 'SM', 'Hyundai'}
        a + b 를 합해보고 a * 2 를 해봅니다. 
        # set은 위 경우에서는 에러가 납니다.

In [18]:
a = {'Chevrolet', 'KIA', 'Mercedes'}
b = {'Ssangyong', 'SM', 'Hyundai'}
c = a + b   #error
d = a * 2   #error

TypeError: ignored

(2) ‘add’

In [19]:
a = {'Ford', 'KIA'} 

a.add('Hyundai')
print (a)

{'Hyundai', 'Ford', 'KIA'}

(3) ‘update’

In [20]:
a = {'Ford', 'KIA'} 

a.update({'Hyundai', 'Maserati', 'Jaguar'})
print (a)

{'Hyundai', 'Ford', 'Maserati', 'KIA', 'Jaguar'}

(4) ‘remove’

In [0]:
a = {'Ford', 'KIA'} 


a.remove('Ford')
print (a)

#TASK 20 - Making Functions


##학습 내용
* 함수는 반복해서 재사용 할 수 있는 '수학적 공식' 같은 것이라 생각하면 됩니다. 그럼 함수를 한 번 만들어 보겠습니다. 


##문법

            def 함수이름():         # 함수 선언
		        함수기능            # 함수 기능 주기
        
            함수이름                # 함수 호출

 
##설명
* ‘brake’란 함수를 만듭니다. 우리는 브레이크의 기능을 알고 있습니다. 밟으면 차가 선다는 기능이지요.  def 문으로 이 함수를 선언합니다.

        def brake():     

* 아직은 초보적인 기능 밖에 모르므로 print 문으로 기능을 만들어 봅니다.  

        print (‘Hit the brake, then the brake will stop the car.’)

* 그리고 마지막으로 함수를 call 하여 함수가 작동하도록 해야 합니다. 

        brake()     

* 즉 함수를 선언하여 기능을 정의하고 외부에서 그 함수를 호출하는 방식입니다.



## 연습

* 비슷하게 하나를 더 해 봅니다.

    	# wiper란 function을 define하고 함수 기능을 준다.	
    	def wiper():		
    		print ('When it is rainy, it is useful.') 	
    	
    	wiper()			# 호출해 봅니다.



##주의
* def 함수이름():  에서 콜론을 빠트리지 않도록 주의합니다.



##코딩 부분

In [21]:
def wiper():
    print ('When it is rainy, it is useful.')

wiper()

When it is rainy, it is useful.

####Video
[video](https://youtu.be/_sWwmeNobzc)

##추가 연습 

* x의 세제곱을 구하는 함수를 만들어 보겠습니다.
* 함수이름은  mycal()로 합니다.
* x = 3이라고 정의하고
* x의 세제곱을 출력하도록 함수를 만든  후
* mycal()을 호출합니다.

In [22]:

def mycal():
	x = 3
	print (x**3)

mycal()

27


####Extra Practice

(1) 우리가 “checkingcar”라는 함수를 만들어봅니다.
	
		def checkingcar(): 
     			print ("Which car do you like to see?") 
     			vehicle = input ()
     			print (vehicle)
     			print "You are the boss!"

		checkingcar()

In [25]:
def checkingcar(): 
    print ("Which car do you like to see?") 
    vehicle = input ()
    print (vehicle)
    print ("You are the boss!")

checkingcar()

Which car do you like to see?
KIA
KIA
You are the boss!

(2)  (1)과 비슷하게

비슷하게 하나를 더 해 봅니다.

fixingcar 함수를 선언하고 def fixingcar():

주 기능을 "아침에 접촉 사고가 났어요"를 출력 하는 것으로 하고 print ("I had a fender bender this morning.")

where = input() # where에 찌그러진 부위를 넣는 것으로 하고 "right fender"라고 입력을 해본다.

print where # 입력한 것을 출력하는 기능 추가

print "How much is it to fix that?" # 다시 여기에 얼마면 고치는가를 물어 보면

fixingcar() # function을 호출하며 마무리를 짓습니다.

In [26]:
def fixingcar():
    print ("I had a fender bender this morning.") 
    where = input()  
    print (where)
    print ("How much is it to fix that?")
    
fixingcar()

I had a fender bender this morning.
where
where
How much is it to fix that?

#TASK 21  -  Parameters and Arguments


##학습 내용
* Parameter(매개변수)는 변수로 function의 input 역할을 하는 것입니다. 
* 그리고 Argument는 파라미터의 값으로 함수에서 사용되는 입력되는 값을 의미합니다.


##문법

         def 함수이름(파라미터1, 파라미터2):    # 함수 선언
            함수기능                           # 함수 기능 주기
        
        함수이름(아규먼트1, 아규먼트2)          # 함수 호출


 
##설명
* 수학의 함수에서 f(x) = 10x라고 정의했다고 가정하면, 여기서 x가 매개변수인 파라미터이고 x에 3을 넣어주면 답은 30이 되는데 여기서 3이 x의 값에 해당되는 아규먼트라고 이해를 하면 됩니다.  
* 우리는 앞에서 ‘brake’라는 아주 간단한 함수를 만든 적 있습니다. 여기서는 * parameters & arguments를 사용하여 function ‘brake’ 를 다시 만들어 봅니다. 
* 우선 parameter를 함수 brake에 주어봅니다. 

        def brake(pedal,pad):

* 그리고 pedal과 pad에 다음과 같은 아규먼트 값을 줍니다.

		pedal의 argument값은 "Hit the brake,"
		pad의 argument값은  " then the brake will stop the car."


## 연습
* 앞의 brake함수를 완성해 보겠습니다.

        # 파라미터를 주고 함수를 정의합니다.
		
		def brake(pedal,pad):
			print(pedal + pad)

	    # 아래에서 argument의 값을 주고 호출합니다.
		
		brake("Hit the brake,"," then the brake will stop the car.")


##주의
* 아규먼트의 개수가 파라미터와 일치해야 합니다.




##코딩 부분

In [27]:
def brake(pedal,pad):

   print (pedal + pad)

brake("Hit the brake,"," then the brake will stop the car.")

Hit the brake, then the brake will stop the car.

####Video
[video](https://youtu.be/EZyPjes9A7M)

##추가 연습 

* 함수 my_function3를 선언합니다
* parameter로 (wish, country) 두 개를 부여합니다.
* 두 개를 합하여 아래를 프린트하게 아규먼트를 부여합니다

        I would like to go to Korea.
        I would like to visit Spain.
        I would like to live in Australia.

In [28]:
def my_function3(wish, country):
   	print (wish + country)

my_function3("I would like to go to", " Korea.")
my_function3("I would like to visit", " Spain.")
my_function3("I would like to live in", " Australia.")

I would like to go to Korea.
I would like to visit Spain.
I would like to live in Australia.


####Extra Practice

(1) 함수 wiper를 선언합니다.
	wiper의 parameter로 (water, clean) 두 개를 부여합니다.
	두 개를 합하여 프린트 합니다.
	water 의 argument 에 "물 분사" 를 줍니다.
	clean의 argument 에 "왔다 갔다" 를 줍니다.

		def wiper (water, clean):
		   		print(water + " & " + clean)
		
		wiper("물 분사","왔다 갔다")

In [29]:
def wiper (water, clean):
    print(water + " & " + clean)
	
wiper("물 분사", "왔다 갔다")

물 분사 & 왔다 갔다

(2)  이름을 합해 봅니다.

		def my_function2(first_name):
			print(first_name + " Choi")

		my_function2("Joshua")		# Joshua Choi
		my_function2("Rachel")		# Rachel Choi

In [30]:
def my_function2(first_name):
    print(first_name + " Choi")

my_function2("Joshua") 
my_function2("Rachel")

Joshua Choi
Rachel Choi

(3)  제곱과 세제곱을 만드는 함수를 만들어 봅니다.

In [31]:
def my_function4(a,b):
     print (a**2, b**3)

my_function4(1,2)
my_function4(3,4)
my_function4(5,6)

1 8
9 64
25 216

#TASK 22  - Conditional Statements in Functions


##학습 내용
* 조건문이 들어가는 function을 만들어 보겠습니다. if – elif - else 문을 함수 안에 넣어 보겠습니다.


##문법
* 다음과 같은 형태로 함수 안에 조건문을 넣은 함수를 만들어 봅니다.

        def 함수이름(parameters):
		    if condition:
			    return
		    elif condition:
			    return
		    else:
			    return
      	
        함수이름(arguments)


 
##설명
* 함수 안에 기능을 넣을 때 조건문을 넣어서 만들 수 있습니다.
* def 함수이름(): 과 끝에 호출 하는 중간에 일반적인 조건문과 같은 방법으로 조건문을 넣는다고 생각하면 됩니다.


## 연습
* 우선 if –else로 엑셀러레이터라는 함수를 만들어 봅니다. 

        Function : accelerator
        Condition : speed 가 시속 80km 를 넘으면 "Slow down!" 을 출력합니다.
        else; 그 외의 경우는 Go!를 출력한다


##주의
* return은 결과 값을 반환하는 것을 의미합니다.



##코딩 부분

In [32]:
def accelerator(speed):
	if speed > 80:
		print ("Slow down!")
	else:
		print ("Go!")

accelerator(85)

Slow down!

####Video
[video](https://youtu.be/5BHPc5BUss0)


##추가 연습 

* if - elif - else 로 만들어 봅니다.

		x = 5
		y = 10
	    이라고 하고
		함수 cal() 을 선언하고
			if x == y 면 print (‘They are the same.’)
			elif x > y 이면 print (‘x is larger than y’)
			else: print (‘y is larger than x.’)
		로 하고 함수 cal() 을 호출함으로 끝나는 함수를 만들어 봅니다.

In [33]:
x = 5
y = 10

def cal():
	if x == y:
		print ("They are the same.")
	elif x > y:
		print ("x is larger than y")
	else:
		print ("y is larger than x.")

cal()

y is larger than x.


#### Extra Practice

(1) 냉수 자판기 함수를 만들어 봅니다.

	    벤딩머신(자판기)이란 말은 길어지니 seller로 해서 함수를 정의하고 
	    price1과 price2를 parameter로 줍니다.
	    price는 30도 초과이면 600원, 아니면 500원으로 합니다.

In [34]:
def seller(temp,price):
    if temp > 30:
        print ("The price for a bottle of cold water is {} won.".format(price))
    else:
        print ("The price for a bottle of cold water is {} won.".format(price))

seller(32,600)
seller(25,500)

The price for a bottle of cold water is 600 won.
The price for a bottle of cold water is 500 won.


(2) (1)에서

	    온도가 30도 초과이면 냉수는 600원
	    온도가 25도 이하이면 냉수가 400원
        그 외 (25~30) 온도에서는 500원으로 자판기 함수를 만들어 봅니다.

In [35]:
def seller(temp,price):
    if temp > 30:
        print ("The price for a bottle of cold water is {} won.".format(price))
    elif temp <= 25:
        print ("The price for a bottle of cold water is {} won.".format(price))
    else:
        print ("The price for a bottle of cold water is {} won.".format(price))

seller(32,600)
seller(26,500)
seller(22,400)

The price for a bottle of cold water is 600 won.
The price for a bottle of cold water is 500 won.
The price for a bottle of cold water is 400 won.


#TASK 23 -  Importing Modules


##학습 내용
* import 는 이미 만들어진 모듈을 호출하여 사용할 수 있게 해주는 역할을 합니다. 우리는 함수에 대해 배웠습니다.  이미 만들어진 모듈을 호출하는 것을 배워봅니다.


##문법
* 다음과 random 이라는 모듈은 값을 무작위로 제공 할 수 있는 모듈입니다. random 내에서 정수를 임의로 선택하는 함수인 randint 를 가져오면 무작위로 정수 값을 얻을 수 있습니다.

         from random import randint

* 시간과 날짜와 관계된 프로그램을 수행하고 싶다면 최선의 방법은 datetime 모듈을 import 할 수 있습니다.


         from datetime import datetime

##설명
* randint 는 특정 영역 안에 있는 정수를 임의로 선택하게 해줍니다. 


         toss = randint(0, 1) # 0과 1 둘 중 하나를 토스 값으로 줍니다.


* datetime 은 현재시간의 값을 줍니다. 


        current_time = datetime.now()   	# 현재 시간 값
        c_year = current_time.year      	# 현재 시간에서 연도 값
        c_month = current_time.month  	  # 현재 시간에서 월 값
        c_day = current_time.day       	 # 현재 시간에서 일 값


## 연습

* 주사위를 던져 1에서 6 사이 임의로 나오는 값을 구해봅니다.
* 변수 current_time = datetime.now() 를 만들어 봅니다.
* 변수 c_year = current_time.year 를 만들어 봅니다.
* 변수 c_month = current_time.month 를 만들어 봅니다.
* 변수 c_day = current_time.day를 만들어 봅니다.
* 이를 출력해봅니다.


##주의
* datetime 외에도 time 이란 아주 살짝 다른 모듈이 있습니다.




##코딩 부분

In [36]:
from random import randint

dice_toss = randint(1, 6)
print (dice_toss)

from datetime import datetime

current_time = datetime.now()
c_year = current_time.year 
c_month = current_time.month
c_day = current_time.day
print (c_year)
print (c_month)
print (c_day)

3
2019
12
2

####Video
[video](https://youtu.be/EIJW79Pej3A)

  
##추가 연습 

* ‘math’ module 을 사용해 보겠습니다.
* 우선 math module 을 import 해야 합니다
* 다음 4개의 함수를 배워 봅니다: ceil, floor, max, min

        ceil()      # '올림' 의 기능을 합니다. 주어진 숫자보다 같거나 더 큰 정수를 결과 값으로 받습니다.
        floor()     # '내림' 의 기능을 합니다. 주어진 숫자보다 같거나 더 작은 정수를 결과 값으로 받습니다.
        max()       # 주어진 숫자 중에서 가장 큰 값을 보여 줍니다. string 일 경우 알파벳에서 가장 늦은 순서의 알파벳을 보여 줍니다.
        min()       # 주어진 숫자 중에서 가장 작은 값을 보여 줍니다. string 일 경우 알파벳에서 가장 빠른 순서의 알파벳을 보여 줍니다.

In [37]:
import math               

print (math.ceil(0.5))           
print (math.floor(0.5))  
print (max([1, 2, 3]))
print (max('Chevrolet'))
print (min([1, 2, 3]))
print (min('Chevrolet'))

1
0
3
v
1
C

###Extra Practice

(1)  기타 유용한 함수를 불러 와 보겠습니다

math를 불러와 스퀘어루트를 해봅니다.

In [38]:

import math
mynumber = math.sqrt(10)
print (mynumber)

3.1622776601683795

(2)  math를 불러와 팩토리얼를 해봅니다.

기억하신다면....팩토리얼은 계승으로 n! 이런 형식으로 나옵니다.

3! = 123 = 6 기억 나시나요?

In [39]:
import math
mynumber2 = math.factorial(4)
print (mynumber2)

24

(3)   유명 농구선수인 하든과 커리가 일대일 농구를 합니다..

이 게임에서 둘은 11~30점을 넣을 수 있다고 가정합니다.

누가 이기는지 한 번 볼까요?

In [40]:
from random import randint

coin_toss = randint(0, 1)
print (coin_toss)

harden_score = randint(11, 30)
curry_score =  randint(11, 30)

print (harden_score)

print (curry_score)

1
15
29

(4) 주사위 던지기를 만들어 볼 수도 있습니다.

In [42]:
from random import randint

dice_toss = randint(1, 6)

print (dice_toss)

4

(5) 비슷하게 하나를 더 해 봅니다.

윳놀이 판을 놓고 도개걸윳모를 각각 1,2,3,4,5로 놓고 두 사람이 윳 놀이를 한 번 해 보세요.

In [43]:
from random import randint

yoot_toss = randint(1, 5)
print (yoot_toss)

1

(6) 우리는 날짜를 년-월-일 이런 식으로 출력하기를 원할 수 있고, 미국식으로 월-일-년 식으로 출력이 되기를 원할 수 있다.

그래서 이 것을 어떻게 이끌어 낼지를 보자.

앞페이지와 똑 같이 current_time을 이끌어 낸 다음에 년-월-일 식으로 출력해본다.

Python 2에서는 %02d 형태로 나타난다 (0은 최소 2자리수로 만들어 주고 2d는 2자리 4d는 4자리로 만들어 준다

Python3에서는 “{0:0=2d},format(a) 형식으로 사용된다

In [45]:
from datetime import datetime
current_time = datetime.now()

current_year = current_time.year
current_month = current_time.month
current_day = current_time.day

print ("{0:0=4d}-{1:0=02d}-{2:0=02d}".format(current_year, current_month, current_day))
#위와 같이 하면 우리가 원하는 모양으로 나올 것인가?

2019-12-02