<a href="https://colab.research.google.com/github/joshuajhchoi/ai2learn/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%B2%98%EC%9D%8C%ED%95%98%EB%8A%94_%EB%B6%84%EB%93%A4%EC%9D%84_%EC%9C%84%ED%95%9C_8%EC%8B%9C%EA%B0%84_%EB%A7%8C%EC%97%90_%EC%9D%B4%ED%95%B4%ED%95%98%EB%8A%94_%EB%A8%B8%EC%8B%A0_%EB%9F%AC%EB%8B%9D_%EA%B8%B0%EC%B4%88_%EC%88%98%EC%97%85_(7)_Pandas_%EA%B8%B0%EB%B3%B8_%EC%9D%B4%ED%95%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

목차

1. 파이썬 기초 문법 이해하기 (2시간 15분)
2. 주피터노트북 및 Colab 이해 (15분)
3. NumPy 기본 (30분)
4. Matplotlib 기본 이해 (30분)
5. Seaborn 기본 이해 (30분)
6. 통계 필요사항 기본 이해 (30분)

##7. Pandas 기본 이해 (30분)

8. ScikitLearn 기본 이해 (30분)
9. 머신러닝 알고리즘 개요 이해 (30분)
10. Kaggle Titanic 입문하기 (2시간)

## Pandas

* Pandas는 오픈 소스 파이썬 라이브러리로 간편하면서도 파워풀한 데이터 구성 및 분석 툴이다.
* 넘파이 기반에서 작동한다.
* 넘파이 기반에서 SciPy, Pandas, Matplotlib 등이 작동되고 그 위에 SkLearn 등이 작동된다고 생각하시면 됩니다.

* 우선 넘파이를 임포트하고 이어서 판다스를 임포트한다.

In [0]:
import numpy as np
import pandas as pd

* 이어서 파일을 임포트 합니다.

In [46]:
from google.colab import files
uploaded = files.upload()

Saving tips.csv to tips (1).csv

* 이어서 이를 데이터프레임에 임포트하여 데이터셋이 판다스 데이터프레임에 임포트 되도록 합니다.

In [0]:
import io
tips = pd.read_csv(io.BytesIO(uploaded['tips.csv']))

* 파일을 한 번 보도록 하겠습니다.

In [48]:
tips.head()

   1  total_bill   tip     sex smoker  day    time  size  Unnamed: 8
0  2       16.99  1.01  Female     No  Sun  Dinner     2         NaN
1  3       10.34  1.66    Male     No  Sun  Dinner     3         NaN
2  4       21.01  3.50    Male     No  Sun  Dinner     3         NaN
3  5       23.68  3.31    Male     No  Sun  Dinner     2         NaN
4  6       24.59  3.61  Female     No  Sun  Dinner     4         NaN

In [49]:
tips.dtypes

1               int64
total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
Unnamed: 8    float64
dtype: object

In [50]:
tips.index

RangeIndex(start=0, stop=244, step=1)

In [51]:
len(tips)

244

In [52]:
tips.columns

Index(['1', 'total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'Unnamed: 8'],
      dtype='object')

In [53]:
tips.values

array([[2, 16.99, 1.01, ..., 'Dinner', 2, nan],
       [3, 10.34, 1.66, ..., 'Dinner', 3, nan],
       [4, 21.01, 3.5, ..., 'Dinner', 3, nan],
       ...,
       [243, 22.67, 2.0, ..., 'Dinner', 2, nan],
       [244, 17.82, 1.75, ..., 'Dinner', 2, nan],
       [245, 18.78, 3.0, ..., 'Dinner', 2, nan]], dtype=object)

* 위와 같이 파일을 대략 확인해 볼 수 있습니다.
* 아래에서는 중간값, 표준편차 최소값 등을 한번 보겠습니다.

In [54]:
tips.describe()

                1  total_bill         tip        size  Unnamed: 8
count  244.000000  244.000000  244.000000  244.000000         0.0
mean   123.500000   19.785943    2.998279    2.569672         NaN
std     70.580923    8.902412    1.383638    0.951100         NaN
min      2.000000    3.070000    1.000000    1.000000         NaN
25%     62.750000   13.347500    2.000000    2.000000         NaN
50%    123.500000   17.795000    2.900000    2.000000         NaN
75%    184.250000   24.127500    3.562500    3.000000         NaN
max    245.000000   50.810000   10.000000    6.000000         NaN

* Sorting을 해보겠습니다.
* size를 가지고 오름차순, 내림차순으로 해봅니다.

In [55]:
tips.sort_values('size', ascending=False)

       1  total_bill   tip     sex smoker   day    time  size  Unnamed: 8
143  145       27.05  5.00  Female     No  Thur   Lunch     6         NaN
156  158       48.17  5.00    Male     No   Sun  Dinner     6         NaN
125  127       29.80  4.20  Female     No  Thur   Lunch     6         NaN
141  143       34.30  6.70    Male     No  Thur   Lunch     6         NaN
185  187       20.69  5.00    Male     No   Sun  Dinner     5         NaN
..   ...         ...   ...     ...    ...   ...     ...   ...         ...
105  107       15.36  1.64    Male    Yes   Sat  Dinner     2         NaN
67    69        3.07  1.00  Female    Yes   Sat  Dinner     1         NaN
222  224        8.58  1.92    Male    Yes   Fri   Lunch     1         NaN
111  113        7.25  1.00  Female     No   Sat  Dinner     1         NaN
82    84       10.07  1.83  Female     No  Thur   Lunch     1         NaN

[244 rows x 9 columns]

In [56]:
tips.sort_values('size', ascending=True)

       1  total_bill   tip     sex smoker   day    time  size  Unnamed: 8
67    69        3.07  1.00  Female    Yes   Sat  Dinner     1         NaN
82    84       10.07  1.83  Female     No  Thur   Lunch     1         NaN
222  224        8.58  1.92    Male    Yes   Fri   Lunch     1         NaN
111  113        7.25  1.00  Female     No   Sat  Dinner     1         NaN
0      2       16.99  1.01  Female     No   Sun  Dinner     2         NaN
..   ...         ...   ...     ...    ...   ...     ...   ...         ...
155  157       29.85  5.14  Female     No   Sun  Dinner     5         NaN
143  145       27.05  5.00  Female     No  Thur   Lunch     6         NaN
156  158       48.17  5.00    Male     No   Sun  Dinner     6         NaN
141  143       34.30  6.70    Male     No  Thur   Lunch     6         NaN
125  127       29.80  4.20  Female     No  Thur   Lunch     6         NaN

[244 rows x 9 columns]

* 다음에는 Slicing을 해 보겠습니다.
* 특정 열만 보는 것이죠

In [57]:
tips['size']

0      2
1      3
2      3
3      2
4      4
      ..
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: int64

* 위에는 사이즈 열만 본 것입니다. 그런데 거기서 11열부터 20열까지만 보고싶다면

In [58]:
tips['size'][11:21]

11    4
12    2
13    4
14    2
15    2
16    3
17    3
18    3
19    3
20    2
Name: size, dtype: int64

* 이번에는 total_bill과 size 2열을 봅니다.

In [59]:
tips[['total_bill','size' ]]

     total_bill  size
0         16.99     2
1         10.34     3
2         21.01     3
3         23.68     2
4         24.59     4
..          ...   ...
239       29.03     3
240       27.18     2
241       22.67     2
242       17.82     2
243       18.78     2

[244 rows x 2 columns]

* 그리고 그 중 11번 행부터 20번행까지를 보겠습니다.

In [60]:
tips[['total_bill','size' ]][11:21]

    total_bill  size
11       35.26     4
12       15.42     2
13       18.43     4
14       14.83     2
15       21.58     2
16       10.33     3
17       16.29     3
18       16.97     3
19       20.65     3
20       17.92     2

* loc(location) operator를 쓰면 역시 특정 줄의 내용을 볼 수 있습니다.

In [61]:
tips.loc[9,['total_bill']]

total_bill    14.78
Name: 9, dtype: object

* 조건 필터링 -  조건을 주어 특정 내용을 추출 할 수 있습니다.
* total_bill이 40불이 넘는 것을 추출해 봅니다.

In [63]:
tips[tips.total_bill >40]

       1  total_bill    tip     sex smoker   day    time  size  Unnamed: 8
59    61       48.27   6.73    Male     No   Sat  Dinner     4         NaN
95    97       40.17   4.73    Male    Yes   Fri  Dinner     4         NaN
102  104       44.30   2.50  Female    Yes   Sat  Dinner     3         NaN
142  144       41.19   5.00    Male     No  Thur   Lunch     5         NaN
156  158       48.17   5.00    Male     No   Sun  Dinner     6         NaN
170  172       50.81  10.00    Male    Yes   Sat  Dinner     3         NaN
182  184       45.35   3.50    Male    Yes   Sun  Dinner     3         NaN
184  186       40.55   3.00    Male    Yes   Sun  Dinner     2         NaN
197  199       43.11   5.00  Female    Yes  Thur   Lunch     4         NaN
212  214       48.33   9.00    Male     No   Sat  Dinner     4         NaN

* multi col filtering -  이어서 total_bill이 30을 넘는 것 중 day가 sat 인 것만 추출해 봅니다.

In [64]:
tips[(tips.total_bill >= 30) & (tips.day == 'Sat')]

       1  total_bill    tip     sex smoker  day    time  size  Unnamed: 8
23    25       39.42   7.58    Male     No  Sat  Dinner     4         NaN
39    41       31.27   5.00    Male     No  Sat  Dinner     3         NaN
56    58       38.01   3.00    Male    Yes  Sat  Dinner     4         NaN
59    61       48.27   6.73    Male     No  Sat  Dinner     4         NaN
102  104       44.30   2.50  Female    Yes  Sat  Dinner     3         NaN
170  172       50.81  10.00    Male    Yes  Sat  Dinner     3         NaN
207  209       38.73   3.00    Male    Yes  Sat  Dinner     4         NaN
210  212       30.06   2.00    Male    Yes  Sat  Dinner     3         NaN
212  214       48.33   9.00    Male     No  Sat  Dinner     4         NaN
219  221       30.14   3.09  Female    Yes  Sat  Dinner     4         NaN
237  239       32.83   1.17    Male    Yes  Sat  Dinner     2         NaN
238  240       35.83   4.67  Female     No  Sat  Dinner     3         NaN

* 콕 찝어서 고르기

In [65]:
tips[(tips.day == 'Sat') & (tips.time == 'Dinner') & (tips.smoker == 'No')]

       1  total_bill   tip     sex smoker  day    time  size  Unnamed: 8
19    21       20.65  3.35    Male     No  Sat  Dinner     3         NaN
20    22       17.92  4.08    Male     No  Sat  Dinner     2         NaN
21    23       20.29  2.75  Female     No  Sat  Dinner     2         NaN
22    24       15.77  2.23  Female     No  Sat  Dinner     2         NaN
23    25       39.42  7.58    Male     No  Sat  Dinner     4         NaN
24    26       19.82  3.18    Male     No  Sat  Dinner     2         NaN
25    27       17.81  2.34    Male     No  Sat  Dinner     4         NaN
26    28       13.37  2.00    Male     No  Sat  Dinner     2         NaN
27    29       12.69  2.00    Male     No  Sat  Dinner     2         NaN
28    30       21.70  4.30    Male     No  Sat  Dinner     2         NaN
29    31       19.65  3.00  Female     No  Sat  Dinner     2         NaN
30    32        9.55  1.45    Male     No  Sat  Dinner     2         NaN
31    33       18.35  2.50    Male     No  Sat  Dinner     4         NaN
32    34       15.06  3.00  Female     No  Sat  Dinner     2         NaN
33    35       20.69  2.45  Female     No  Sat  Dinner     4         NaN
34    36       17.78  3.27    Male     No  Sat  Dinner     2         NaN
35    37       24.06  3.60    Male     No  Sat  Dinner     3         NaN
36    38       16.31  2.00    Male     No  Sat  Dinner     3         NaN
37    39       16.93  3.07  Female     No  Sat  Dinner     3         NaN
38    40       18.69  2.31    Male     No  Sat  Dinner     3         NaN
39    41       31.27  5.00    Male     No  Sat  Dinner     3         NaN
40    42       16.04  2.24    Male     No  Sat  Dinner     3         NaN
57    59       26.41  1.50  Female     No  Sat  Dinner     2         NaN
59    61       48.27  6.73    Male     No  Sat  Dinner     4         NaN
64    66       17.59  2.64    Male     No  Sat  Dinner     3         NaN
65    67       20.08  3.15    Male     No  Sat  Dinner     3         NaN
66    68       16.45  2.47  Female     No  Sat  Dinner     2         NaN
68    70       20.23  2.01    Male     No  Sat  Dinner     2         NaN
70    72       12.02  1.97    Male     No  Sat  Dinner     2         NaN
71    73       17.07  3.00  Female     No  Sat  Dinner     3         NaN
74    76       14.73  2.20  Female     No  Sat  Dinner     2         NaN
75    77       10.51  1.25    Male     No  Sat  Dinner     2         NaN
104  106       20.92  4.08  Female     No  Sat  Dinner     2         NaN
108  110       18.24  3.76    Male     No  Sat  Dinner     2         NaN
110  112       14.00  3.00    Male     No  Sat  Dinner     2         NaN
111  113        7.25  1.00  Female     No  Sat  Dinner     1         NaN
212  214       48.33  9.00    Male     No  Sat  Dinner     4         NaN
227  229       20.45  3.00    Male     No  Sat  Dinner     4         NaN
228  230       13.28  2.72    Male     No  Sat  Dinner     2         NaN
232  234       11.61  3.39    Male     No  Sat  Dinner     2         NaN
233  235       10.77  1.47    Male     No  Sat  Dinner     2         NaN
235  237       10.07  1.25    Male     No  Sat  Dinner     2         NaN
238  240       35.83  4.67  Female     No  Sat  Dinner     3         NaN
239  241       29.03  5.92    Male     No  Sat  Dinner     3         NaN
242  244       17.82  1.75    Male     No  Sat  Dinner     2         NaN

* 특정 행을 봅니다.

In [66]:
tips.iloc[9:11]

     1  total_bill   tip   sex smoker  day    time  size  Unnamed: 8
9   11       14.78  3.23  Male     No  Sun  Dinner     2         NaN
10  12       10.27  1.71  Male     No  Sun  Dinner     2         NaN